[2015-07-14 15:40] patrickbrouwers opened #3 "Cleaner way of registering namespaces into the driver chain"
Cleaner way of doing this:

[code]

[2015-07-15 13:18] FoxxMD opened #4 "Write configuration array to php file without evaluating expressions"
In order to generate a configuration file for a user we want to be able to leave expressions in place in the configuration array.

Say we have this array schema for a manager in the new configuration

    return [
        ...
        'connection' => $isFork ? $sourceArray['connection'] : config('database.default'),
        ...
    ];

When this array is eventually written out to a php file (right

[2015-07-15 13:31] FoxxMD opened #5 "Implement configuration migrations for mitchellvanw/laravel-doctrine"
Current progress can be see in [the convertConfig branch](https://github.com/laravel-doctrine/orm/tree/convertConfig), specifically [MitchellMigrator](https://github.com/laravel-doctrine/orm/blob/convertConfig/src/Console/ConfigMigrations/MitchellMigrator.php)

[2015-07-15 13:32] FoxxMD opened #6 "Implement configuration migrations for atrauzzi/laravel-doctrine"

[2015-07-15 13:37] FoxxMD opened #7 "Document code changes need to migrate from mitchellvanw"
There will need to be explicit, thorough documentation on what active code changes are needed to migrate over.

Let's put together a list of any changes that need to be made, here. Then write the documentation for them.

[2015-07-15 16:34] patrickbrouwers commented on #3
[code]

[2015-07-15 20:15] patrickbrouwers commented on #3
https://github.com/laravel-doctrine/orm/pull/9

[2015-07-15 20:44] #3 closed

[2015-07-16 13:18] FoxxMD commented on #4
Fixed in #10

[2015-07-16 13:18] #4 closed

[2015-07-17 16:55] FoxxMD opened #11 "Document code changes need to migrate from atrauzzi"
There will need to be explicit, thorough documentation on what active code changes are needed to migrate over.

Let's put together a list of any changes that need to be made, here. Then write the documentation for them.

[2015-07-24 12:37] FoxxMD opened #13 "What is PresenceVerifier for?"
`DoctrinePresenceVerifier`, what is it for?

[2015-07-24 13:00] FoxxMD opened #14 "Proxy configuration occurs in wrong place"
I had to stick my `’proxies’ => [ ]` in the `’meta`’ array in my config in order for the EM to pick up my custom path for proxies, but the default config shows `proxies` as going inside a `manager` array.

[Here](https://github.com/laravel-doctrine/orm/blob/develop/src/DoctrineServiceProvider.php#L114) the EM is created and resolves proxy settings from the `meta` key in the manager array (by getti

[2015-07-24 13:29] patrickbrouwers commented on #13
It's for the laravel validator. (exists, unique)

[2015-07-24 13:31] patrickbrouwers commented on #14
I'm wondering why we would even want to have a separate storage for proxies per manager. Perhaps it just best do keep it at once place. That will solve that problem.

[2015-07-24 13:52] FoxxMD commented on #14
It's like that in [the default config](https://github.com/patrickbrouwers/Laravel-Doctrine/blob/master/config/doctrine.php#L28)

I could see it being useful if I have one set of entities that are mature and don't need to be autogenerated, but am working on another set (with a different EM) where I want them autogenerated.

But I guess it ain't too practical. You think it would be better to keep it

[2015-07-24 14:08] patrickbrouwers commented on #14
Well it seems it's not possible to overrule the proxy per manager. (Strange).

Autogenerated is only on dev env anyway.

[2015-07-24 14:17] FoxxMD commented on #13
Ah, [found it](http://laravel.com/docs/5.1/validation#rule-unique). Thanks

[2015-07-24 14:17] #13 closed

[2015-07-27 16:34] FoxxMD opened #16 "Factor out auth manager extend into its own provider"
Via #15 ([comment](https://github.com/laravel-doctrine/orm/pull/15#issuecomment-125261507))

[2015-08-20 06:57] Edwin-Luijten opened #27 "Problems installing with composer"
I trying yo install this package to test it, but when doing composer require and with minimum-stability set to dev it still says "a typo or the package is not available in a stable-enough version". Any suggestion on what i'm doing wrong?

[2015-08-20 07:07] Edwin-Luijten commented on #27
I forgot the top part of the installation read-me (shame on me)

[2015-08-20 07:07] #27 closed

[2015-08-20 14:58] patrickbrouwers commented on #27
Good, you found the new package! The package is no packagist package yet (because we don't think it's stable enough yet. You indeed have to add the github link to the vcs list like you found out :)

[2015-08-29 15:07] patrickbrouwers commented on #14
This should be fixed with dfe3c170fc19bf78fcf3dc82925763650a97e788 I think.

[2015-08-29 15:07] #14 closed

[2015-09-08 23:58] patrickbrouwers commented on #16
What would the advantages be of having another SP for auth? You'll have to change the auth config setting anyway.

[2015-09-12 07:37] xtrasmal opened #31 "Great work thanks"
thanks

[2015-09-12 09:55] patrickbrouwers commented on #31
:+1:

[2015-09-12 09:55] #31 closed

[2015-09-13 04:14] MECU opened #32 "getProxyDefinition(): Failed opening required '/tmp/__CG__AppTeam.php'"
Error:
`Doctrine\Common\Proxy\AbstractProxyFactory::getProxyDefinition(): Failed opening required '/tmp/__CG__AppTeam.php' (include_path='.:/usr/lib/php:/usr/local/lib/php:/usr/local/bin')`

It sounded like a permissions problem (but on `/tmp`?), and this [StackOverflow](http://stackoverflow.com/questions/19066140/doctrine-error-failed-opening-required-tmp-cg-source-php) slightly agrees. I even ge

[2015-09-13 10:38] patrickbrouwers commented on #32
Hey!

I assume you were using dev-master. This problem was something I've fixed in dev-develop. However I decided to merge develop into master, so people won't run into these problems anymore when testing the package.

Let me know if it's fixed after a composer update. (Note don't forget to update doctrine.php config to the new version)

[2015-09-13 20:25] MECU commented on #32
That fixed it. I upgraded to ~1.0 and it installed 1.0.x-dev.

[2015-09-13 20:25] #32 closed

[2015-09-14 16:05] #16 closed

[2015-09-14 19:19] FoxxMD commented on #7
Closed by [01153f86b014e0cc6232021c0b854d97f5884d40](https://github.com/laravel-doctrine/docs/commit/01153f86b014e0cc6232021c0b854d97f5884d40)

[2015-09-14 19:19] #7 closed

[2015-09-14 19:19] FoxxMD commented on #11
Closed by [01153f86b014e0cc6232021c0b854d97f5884d40](https://github.com/laravel-doctrine/docs/commit/01153f86b014e0cc6232021c0b854d97f5884d40)

[2015-09-14 19:19] #11 closed

[2015-09-14 22:22] #5 closed

[2015-09-14 22:22] #6 closed

[2015-09-15 06:23] Amrit01 opened #35 "Cannot use Symfony\Component\Console\Command\Command as Command because the name is already in use"
When trying to publich vendor

```php artisan vendor:publish --tag="config"```

```PHP Fatal error:  Cannot use Symfony\Component\Console\Command\Command as Command because the name is already in use in /var/www/html/laravel-doctrine/vendor/laravel-doctrine/orm/src/Console/ConvertConfigCommand.php on line 17```

  [Symfony\Component\Debug\Exception\FatalErrorException]
  Cannot use Symfony\Compone

[2015-09-15 06:29] Amrit01 commented on #35
making alias as SymfonyCommand Fixed it should i make a PR

[2015-09-15 09:39] patrickbrouwers commented on #35
I couldn't reproduce the issue strangely, but it should indeed fail. Pushed a fix.

[2015-09-15 09:39] #35 closed

[2015-09-15 13:18] FoxxMD commented on #35
:+1:

[2015-09-17 20:48] adrianhardy opened #41 "EntityManagerFactory::getConnectionDriverName builds an incorrect config path"
[code]

Should say
[code]

[2015-09-17 21:09] patrickbrouwers commented on #41
Fixed by https://github.com/laravel-doctrine/orm/commit/c8fd4c8fa509234ddd01c5c0cfa74f1d33930362

[2015-09-17 21:09] #41 closed

[2015-09-21 12:58] FoxxMD opened #44 "[1.*] Add mongodb support"
Per [maxmatteo](https://laraveldoctrine.slack.com/archives/general/p1442835243000875) we should investigate the feasibility of adding support for mongodb. Doctrine already has [an ODM](https://doctrine-mongodb-odm.readthedocs.org/en/latest/reference/introduction.html) so it may be a simple process to tie it into Laravel Doctrine..

[2015-09-22 17:06] shssoichiro opened #45 "Authentication: Driver [doctrine] not supported."
I'm attempting to set up user authentication as per http://www.laraveldoctrine.org/docs/1.0/orm/auth. However, upon setting `'driver' => 'doctrine'` in `config/auth.php`, all routes and CLI commands now give the following error:

    [InvalidArgumentException]
    Driver [doctrine] not supported.

As far as I can tell I have the service provider and all facades for Laravel Doctrine registered. Is

[2015-09-22 17:17] gpassarelli commented on #45
+1
I'm having the same issue as you when I try to enable the **LoggableExtension** and **BlameableExtension** extension

[2015-09-22 17:18] patrickbrouwers commented on #45
@shssoichiro if you join us on slack, I will shortly be helping @gpassarelli with this

[2015-09-23 12:46] maxbrokman opened #47 "Listeners / Subscribers should resolve through the DI Container"
At the moment adding listeners calls something [like this](https://github.com/laravel-doctrine/orm/blob/980d219ac089faac2a473edde0d379700b1bc471/src/EntityManagerFactory.php#L135)

[code]

This doesn't resolve listeners from the Container, so they won't have any dependencies injected etc.

Obviously switching this to work through the container is probably just as simple as:

[code]

But I'm worrie

[2015-09-23 13:01] maxbrokman commented on #47
Actually I may be wrong, this might not all trigger off until you call `app()->make('em')` for the first time, in which case it's a non issue!

Just want to get some input on if this is going to break anything basically.

[2015-09-23 16:58] patrickbrouwers commented on #47
Both `ManagerRegistry` and `em` are singletons and the contents of the closure will only be executed when it's called for the first time.
So I don't for see any problems in switching to dependency injections.

Could you add for failing `container->make()` as well (expected exception), thanks!

[2015-09-23 19:09] #47 closed

[2015-09-24 17:00] patrickbrouwers commented on #45
Fixed by https://github.com/laravel-doctrine/orm/commit/d74d5c8f809e5608c727a90b812793ff689e7086

[2015-09-24 17:00] #45 closed

[2015-09-28 07:22] askmatey commented on #44
:+1:

https://github.com/doctrine/mongodb/releases/

[2015-09-28 08:03] reyezstef opened #51 "You must configure a proxy directory. See docs for details"
I receive this error upon composer install

[2015-09-28 08:06] thoresuenert commented on #51
add this line:
'path'          => storage_path('proxies'),

to managers.default.proxies  in config/doctrine.php

[2015-09-28 08:13] reyezstef commented on #51
It is right there. But for some reason the EntityMangerFactory.php fails to receive the path.

When I do this in EntityManagerFactory.php on line 95 (in create function), it is working:
$settings['proxies']['path'] = storage_path('proxies');

But the property was not passed to the create function in the settings argument.

[2015-09-28 08:16] thoresuenert commented on #51
I had the same error several minutes ago and my last post solved it.

[2015-09-28 08:28] reyezstef commented on #51
I have done a fresh pull... When I open doctrine.php, the property is defined:

    'managers'                  => [
        'default' => [
            'dev'        => env('APP_DEBUG'),
            'meta'       => env('DOCTRINE_METADATA', 'annotations'),
            'connection' => env('DB_CONNECTION', 'mysql'),
            'namespaces' => [
                'App'
            ],
            'paths'

[2015-09-28 09:38] reyezstef commented on #51
I have created a custom service provider, solved it for now.

Put in app/providers/...
<?php

# Custom serviceprovider for LaravelDoctrine\ORM\DoctrineServiceProvider

namespace App\Providers;

use LaravelDoctrine\ORM\IlluminateRegistry;
use LaravelDoctrine\ORM\EntityManagerFactory;
use Doctrine\Common\Persistence\ManagerRegistry;
use Doctrine\ORM\EntityManager;
use Doctrine\ORM\EntityManagerInter

[2015-09-28 11:43] reyezstef commented on #51
Solved it. I forgot to remove a previous doctrine package configuration file. Sorry for the interruption.

[2015-09-28 11:43] #51 closed

[2015-09-29 11:14] elceka opened #52 "Unit testing"
Hi, please, how can i testing ORM library with PHP unit? I have environment configuration in phpunit.xml file for SQLITE memory database, but ORM library stay use default MYSQL configuration from database.php configuration file and mixing it with SQLITE testing configuration.

I get this error from PHPUnit test environment (SQLSTATE[HY000] [1049] Unknown database ':memory:'):
[code]

DB environmen

[2015-09-29 14:00] patrickbrouwers commented on #52
Hello @elceka

First thing you should consider is, if it's really necessary to have the database connection during your tests. The great thing about Doctrine is that it's super easy to Mock EntityManager and Repositories calls, because the Entity has no database logic. If the EntityManager returns any result, that's Doctrine's responsibility to test.

If you're doing end-to-end/acceptance testing

[2015-09-29 14:13] FoxxMD commented on #52
@elceka

In `doctrine.php` just use a ternary operator on the `connection` property and test against `APP_ENV` to decide which connection to use.

[code]

This is what I do and works for me

[2015-09-29 14:13] ghindle commented on #52
I can also confirm that the environment variable override isn't working.

[2015-09-29 14:14] guiwoda commented on #52
@elceka @ghindle I'm not able to reproduce what you're saying. Are you extending Laravel's `TestCase` class? This is **required** for env configuration to load properly.

[2015-09-29 16:26] Mircea-Ciuchea opened #54 "Subscriber/Listener does not exist."
I'm trying to register a event listener and I get InvalidArgumentException. The class does not exist.
Same thing trying to use subscribers.

[2015-09-29 16:45] patrickbrouwers commented on #54
Would be helpful if you could supply your config for events here ;)

[2015-09-29 16:53] Mircea-Ciuchea commented on #54
[code]

[2015-09-29 16:54] patrickbrouwers commented on #54
Are you on `~1.0` ?

[2015-09-29 16:56] Mircea-Ciuchea commented on #54
I'm on dev-master. I'll update to 1.0 see if it fixes this.

[2015-09-29 16:56] patrickbrouwers commented on #54
Dev-master is unstable branch. Always stay on stable tags! :)

[2015-09-29 17:04] Mircea-Ciuchea commented on #54
It works! Thanks!

[2015-09-29 17:04] #54 closed

[2015-09-30 17:00] patrickbrouwers commented on #52
Can you let us know if extending `TestCase` fixes the problem while using the latest release of this package?

I couldn't reproduce your error while using your settings, except the fact that I might use `TestCase` instead of `PHPUnit_Framework_TestCase `

[2015-09-30 17:02] patrickbrouwers commented on #44
If someone uses MongoDB and can helps us, we could start a `laravel-doctrine/odm` package.
I never use it, so can't say it's high on my todo-list to start working on this.

[2015-09-30 17:17] ghindle commented on #52
I was definitely extending Laravel's `TestCase`. I will have another go this evening, I was trying to use SQLite in memory, which is appears you have made an update to in the meantime - hopefully this fixes my problems. I shall let you know.

[2015-09-30 17:21] patrickbrouwers commented on #52
I improved the check on if a table is in memory, so it supports both `:memory` and `:memory:`.

But the strange things is that in your stacktrace I can see `PDOMySql`.

One thing I need to say about the `connection` setting, is that it needs the key (connection name) of `database.connections` config. (so not the driver name). But when using the default database.php, that will be the same as the dr

[2015-09-30 17:27] ghindle commented on #52
That stack trace isn't from my code so I can't comment about the PDOMySql but my system was trying to connect to MySQL too, even if I removed to configuration entry.

I'm pretty sure I was using the key of the connection name, but I will have to double check.

[2015-09-30 17:27] patrickbrouwers commented on #52
Sorry, was confusing two people, haha :p

[2015-10-02 08:51] reyezstef opened #55 "When I change the auth driver to doctrine, my blade view is parsed on auth attempt"
If I run:
[code]

My blade view is rendered to the browser. I have searched everywhere, can't find what seems to trigger this behavior. This is what it renders, plain:

[code]

[2015-10-02 09:26] reyezstef commented on #55
When I put this in the top of my blade template:
[code]

I get:
[code]

It seems the annotation driver is scanning my file system or something.

[2015-10-02 09:50] reyezstef commented on #55
Ok solved this by being more specific about where my entities are, in my case in multiple modules:
[code]

[2015-10-02 09:50] #55 closed

[2015-10-03 00:14] matthew-james opened #57 "MappingDriverChain causes incompatibility with simplified Xml / simplified Yaml metadata drivers"
Hello,

In [this method](https://github.com/laravel-doctrine/orm/blob/1.0/src/Extensions/MappingDriverChain.php#L41) `addPaths` is called on the returned `FileLocator`.

The issue is that `addPaths` is not defined on the `FileLocator` interface.  This is not a problem on the locators returned by the included drivers but is incompatible with the `SymfonyFileLocator` returned by the `SimplifiedXmlDr

[2015-10-03 09:44] #57 closed

[2015-10-03 09:48] patrickbrouwers commented on #55
It's indeed always best to point it to your entities as close as possible.

[2015-10-05 19:27] matt-allan opened #62 "FileLogger is not Lumen compatible"
The FileLogger requires an instance of `Illuminate\Contracts\Logging\Log`.  [Lumen only registers an implementation of 'Psr\Log\LoggerInterface`](https://github.com/laravel/lumen-framework/blob/5.1/src/Application.php#L629).

The laravel log writer also [implements the PSR interface](https://github.com/laravel/framework/blob/5.1/src/Illuminate/Log/Writer.php) so switching the interface typehint _s

[2015-10-06 12:35] Freedzone opened #65 "Strange doctrine behaviour. Wrong column names in SQL"
Hello.
My problem is the strange behaviour of Doctrine. If i use the facade EntityManager in

[code]

i get the exception:

[code]

Doctrine uses wrong names of columns with "ID". However, if i set up EntityManager myself, it will work properly

[code]

Here is doctrine default manager basic config

[code]

and entity

[code]

[2015-10-06 13:56] patrickbrouwers commented on #65
I wouldn't call it strange behaviour actually.

HouseID transforms indeed to house_i_d, because `LaravelNamingStrategy` adds a `_` after every capital letter.

When you set up an own EntityManager you get the `DefaultNamingStrategy`. If you want you can set this default namingstrategy inside the manager config with key `naming_strategy` and class name as string.

However I'm wondering why call it

[2015-10-06 13:59] patrickbrouwers commented on #62
If Laravel also binds the logger to that interface inside ioC, then I'm fine with changing this.

[2015-10-06 15:48] matt-allan commented on #62
Laravel binds an implementation of the PSR LoggerInterface [here](https://github.com/laravel/framework/blob/a423a55ed6601daebcbb75817de6d06b4d670a70/src/Illuminate/Foundation/Bootstrap/ConfigureLogging.php#L35).

[2015-10-06 16:12] Freedzone commented on #65
Thank you. You clarified things to me.
I have never met and used naming strategies in Doctrine yet.

[2015-10-06 19:06] #62 closed, assigned to nobody

[2015-10-07 12:48] FoxxMD commented on #65
@erro1 You can specify the naming strategy per manager in `doctrine.php`

[code]

Built in to doctrine are
- DefaultNamingStrategy
- UnderscoreNamingStrategy

[You may also implement your own strategy](https://doctrine-orm.readthedocs.org/projects/doctrine-orm/en/latest/reference/namingstrategy.html) by implementing the interface `Doctrine\ORM\Mapping\NamingStrategy`.

[2015-10-12 08:24] 0x9be00ff1 opened #68 "GedmoExtensions causes artisan doctrine failed"
after

[code]

and adding

[code]

to my `config/app.php`, and run

[code]

gives

[code]

[2015-10-12 08:28] patrickbrouwers commented on #68
If you are not using an annotation metadata driver, you don't have to add the GedmoExtensionsServiceProvider.

[2015-10-12 08:33] 0x9be00ff1 commented on #68
@patrickbrouwers Oh,thanks.

[2015-10-12 08:33] #68 closed, assigned to nobody

[2015-10-14 12:29] guiwoda commented on #52
@elceka can you review this with the new comments we made? please do, as without more feedback this cannot be reproduced and should be closed.

[2015-10-14 12:57] ghindle commented on #52
@guiwoda @patrickbrouwers Having tested this again since updating the environment variable is now being tracked correctly. For reference if anyone comes across this issue at a later date:

`database.php`

[code]

`doctrine.php`

[code]

`phpunit.xml`

[code]

[2015-10-15 15:18] reyezJelle opened #70 "Doctrine Paginator foreach not working"
After the latest changes the following example code stopped working:

[code]

[2015-10-15 15:22] patrickbrouwers commented on #70
It would be useful if you could supply the exception.

Are you using a tagged release?

[2015-10-15 15:24] reyezJelle commented on #70
There is no exception, the foreach is just not looping. I've pulled a previous version and there this code was working and showed the result of dd($post,2);

I'm using "laravel-doctrine/orm": "dev-master",

[2015-10-15 15:26] patrickbrouwers commented on #70
Never use dev-master. It contains potential breaking changes or incomplete features.

Btw did you see in the documentation we have cleaner syntax for pagination?

[2015-10-15 15:32] reyezJelle commented on #70
Thank you, I have seen the code. The code was rushed a bit.

I've reverted to 1.0.5 for now.

[2015-10-15 16:08] patrickbrouwers commented on #70
1.0.5 is the latest stable release, so that's fine.
Thanks for using the package!

[2015-10-15 16:08] #70 closed, assigned to nobody

[2015-10-16 13:54] matiux opened #71 "[1.1] doctrine:generate:entities command"
In particular I would like the ability to generate getters and setters for the entities like Symfony. Symfony uses php app/console doctrine:generate:entity, doctrine console php vendor/bin/doctrine orm:generate-entities.

I have create this command looking at doctrine command class but not seem works:

[code]

[2015-10-16 13:57] matiux commented on #71
The problem is that the getters and setters are not added

[2015-10-20 08:43] 0x9be00ff1 opened #72 "SimpleObjectsToCollectionHydrator causes Doctrine\ORM\Persisters\Entity\BasicEntityPersister throws ErrorException"
[code]

when $entities is an empty Illuminate\Support\Collection, $entityies[0] causes an ErrorException

[2015-10-20 09:22] patrickbrouwers commented on #72
If you are using `dev-master` by accident, you should definitely go and use `~1.0` stable and tagged release.

If you were just testing, thanks! Still some small problems with Collections indeed, didn't have the time to get them all out. But that's why they are not in the stable branch ;)

[2015-10-20 16:54] #65 closed, assigned to nobody

[2015-10-20 16:54] #52 closed

[2015-10-20 17:23] FoxxMD commented on #71
Does it generate entity files for you though? If it's just getters and setters I would drop a breakpoint in `\Doctrine\ORM\Tools\EntityGenerator->generateEntityBody()` and see what it's up to.

[2015-10-20 22:30] matiux commented on #71
Yes, it generates files but with two errors:
1) The formatting is breaking
2) getter and setter are missing

For now I use original doctrine cli after I have creating cli-config.php with doctrine setup

[2015-10-21 08:51] maxbrokman commented on #71
Can you provide the mappings you are using as well.

[2015-10-21 12:04] #72 closed, assigned to nobody

[2015-10-23 11:03] linaspasv opened #75 "DQL getSingleResult and getOneOrNullResult are not working correctly"
Hello,

today I learned that DQL getSingleResult or getOneOrNullResult functions do not work as expected. Example source code:

[code]

Instead of getting a single Entity, I am receiving result wrapped in Illuminate/Support/Collection. I was digging deeper in the source code and it looks like the following source code fails in Doctrine\ORM\AbstractQuery

[code]

Would it be possible to have an opt

[2015-10-23 11:05] patrickbrouwers commented on #75
If you are using dev-master by accident, you should definitely go and use ~1.0 stable and tagged release.

If you were just testing, thanks! Still some small problems with Collections indeed, didn't have the time to get them all out. But that's why they are not in the stable branch ;)

[2015-10-23 11:12] linaspasv commented on #75
Thanks Patrick for a quick response. Keep up the good work! Cheers :)

[2015-10-24 10:28] #75 closed, assigned to nobody

[2015-10-27 04:11] 0x9be00ff1 opened #76 "ReplaceQueryParams causes htmlentities() throws ErrorException when param is an array"
Doctrine EntityRepositorysupports passing arrays as values to a field and uses an IN query since 2.1
http://www.doctrine-project.org/2011/07/04/doctrine-2-1.html

When I use

[code]

and enable laravel-doctrine logger

LaravelDoctrine\ORM\Loggers\Formatters\ReplaceQueryParams convertParam passes the $ids array to htmlentities directly.

[2015-10-27 08:48] patrickbrouwers commented on #76
If Doctrine supports it, I will add it.
The way I normally use it (and feels more save) is:

[code]

[2015-10-27 08:48] #76 closed, assigned to nobody

[2015-10-29 11:04] EwanValentine opened #79 "How would I go back integrating fixtures?"
Me again,

Sorry, the title should have been 'How would I go about integrating fixtures'.

I'd like to replace my Laravel seed data with doctrine fixtures, I can't see any configuration options for supporting this. What would be the best approach? Or would I just use the EntityManager within my existing seeds?

Cheers!

[2015-10-29 12:03] patrickbrouwers commented on #79
Actually on my planning to let the seeder run on the doctrine connection. But for now I'd suggest just using the EntityManager.

[2015-10-30 16:41] martin-georgiev opened #80 "1.0.7 breaks routing in Laravel 5.1.20"
A change in 1.0.7 introduced unintentional bug in Laravel's routing mechanism.
If a route is defined using the class keyword for resolving the class name like here
`Route::resource('some-route', \App\Http\Controllers\Controller::class);`
Laravel will try to resolve a file from namespace `App\Http\Controllers\Controller\App\Http\Controllers\Controller` instead of `\App\Http\Controllers\Controller`.

[2015-10-30 17:07] maxbrokman commented on #80
It seems unlikely that this is an issue with LD.

Are you calling `Route::resource()` from within a route group, and if so does it have a namespace set?

E.g by default in 5.1 your `RouteServiceProvider` comes with

[code]

In that case using `Controller::class` won't work because Laravel will append a namespace string to the front of whatever you pass in.

[2015-10-30 17:16] martin-georgiev commented on #80
With `1.0.6` the issue cannot be reproduced. It appears only with `1.0.7`.
I reckon some change in `1.0.7` triggers different workflow in Laravel and this is the final result.
It is a confirmed issue with Laravel 5.1.20 and 5.1.22.

The issue is observable with other routes definitions and not only when `Route::resource()` is used.
The side effect is presented for sure with `::controller`, `::reso

[2015-10-30 17:25] guiwoda commented on #80
Can you provide a complete code example that reproduces the error?

[2015-10-30 17:26] martin-georgiev commented on #80
[code]

[2015-10-30 17:56] maxbrokman commented on #80
What does your RouteServiceProvider look like? We can reproduce your problem with and without LD by combining a route group with a namespace and `Controller::class`.

[2015-10-30 18:04] martin-georgiev commented on #80
I suspect that the root of the problem is in Laravel itself, but still something in LD activates it.

[code]

[2015-10-30 18:11] FoxxMD commented on #80
@martin-georgiev Are you sure you are using `Route::resource` correctly? In the [documentation](http://laravel.com/docs/5.1/controllers#restful-resource-controllers) only the controller name is listed. I've debugged the router using a FQN as the controller name (as per your issue) and here's how it works:

At **ResourceRegistrar@register** line 60

[code]

`$controller` is the FQN passed to the ro

[2015-10-31 01:16] erussell9987 opened #82 "QueryBuilder getSingleResult() and getOneOrNullResult() are returning Collections instead of the Class"
[code]

Both return collection instead of the class, this code worked before.

[2015-10-31 10:24] patrickbrouwers commented on #82
Why are you using an unstable version? Never use dev-master, ever ;)

Require `1.0.*`

[2015-10-31 10:24] #82 closed, assigned to nobody

[2015-10-31 22:47] erussell9987 commented on #82
When I change or and extensions to 1.0.*, the extensions stop working.

[2015-11-01 10:48] izziaraffaele opened #83 "Password reset broken"
I'm getting this error

[code]

This is apparently because getOneOrNullResult() returns Illuminate\Support\Collection instead of the expected single entity.

[2015-11-01 15:38] patrickbrouwers commented on #83
Please don't use dev-master, we tag stable (`1.0.*`) releases with a reason.

[2015-11-01 15:38] #83 closed, assigned to nobody

[2015-11-01 15:43] izziaraffaele commented on #83
Ops, that's true!! Apparently that's what I've got as default doing composer require so you might have to fix something in your package anyways ;)

[2015-11-01 15:46] patrickbrouwers commented on #83
When I run `composer require laravel-doctrine/orm` I get `1.0.7`. Maybe you have some `minimum-stability: dev` setting in your composer.json ?

[2015-11-01 15:53] izziaraffaele commented on #83
yes but I also have `prefer-stable` set to `true` so it should grab 1.0.7 anyways. At least that is what it does with the rest of the packages.

[2015-11-01 19:29] patrickbrouwers commented on #83
When did you do composer require? Recently or before the 1.0 release? (+- 1,5 month ago)

[2015-11-02 09:13] izziaraffaele commented on #83
Just 22 hours ago when I wrote the issue :)

[2015-11-02 09:15] patrickbrouwers commented on #83
Confirms my hatred over composer require -_- .

[2015-11-02 12:36] EwanValentine commented on #79
Okay great, thanks!

[2015-11-02 12:36] #79 closed, assigned to nobody

[2015-11-02 16:06] Edwin-Luijten opened #84 "Extensions are not being booted in lumen"
[code]

Lumen 5.1 does not contain the event 'router.matched' it's only available in Illuminate\Router
therefore it extensions are not being booted in Lumen.

I also find it a rather strange "location" to boot the extensions when router.matched is fired, is there a reason for it?

By placing the booting of the extension manager outside the listener it's booting the extensions again.

[2015-11-02 16:40] FoxxMD commented on #84
`fastRoute` (lumen's router) does not broadcast any events either so hooking into the router doesn't seem viable.

As suggest by @Edwin-Luijten we could require users boot the extension manager themself or

Could we potentially move the boot process for the extension manager into the gedmo SP?

[2015-11-02 16:48] patrickbrouwers commented on #84
The extension manager has to be booted after the session is started. It's the only event I could find.
If it's booted before the session is started, Loggable won't work (Auth::user() is null)

[2015-11-02 18:05] EwanValentine opened #85 "[1.0] Container error when binding repositories"
Apologies, me again,

I keep getting:

[code]

I'm binding my repo as followed within my service provider class

[code]

[2015-11-03 13:58] matiux opened #86 "[1.0] Resolve target entity Listener"
Hi,
I need to relate 2 different type of contacts with a message

[code]

Message::from and Message::to can be either Hotel or Contact. I thought of this:

[code]

I was hoping to use this tecnique:
https://www.doctrine-project.org/projects/doctrine-orm/en/latest/cookbook/resolve-target-entity-listener.html

but doesn't work

[2015-11-03 14:04] patrickbrouwers commented on #86
Could you specify "doesn't work"?

I tried this a while back and got it working using this package. Shouldn't be anything in the package blocking this behaviour.

[2015-11-03 14:08] matiux commented on #86
Yes, sorry
In a seeder:

[code]

When run seeder:
  [Doctrine\ORM\ORMInvalidArgumentException]
  Expected value of type "Acme\Entity\MessageParticipant" for association field "Acme\Entity\Message#$from", got "Acme\Entity\Hotel" instead.

[code]

  [Doctrine\Common\Persistence\Mapping\MappingException]
  Class 'Acme\Entity\ParticipantInterface' does not exist

[2015-11-03 14:09] patrickbrouwers commented on #86
How did you set up the listener?

[2015-11-03 14:12] matiux commented on #86
I have updated previous message.

This is doctrine.php config:

[code]

and this is the listener:

[code]

[2015-11-03 14:15] patrickbrouwers commented on #86
Yeah that won't work. You're not adding the `\Doctrine\ORM\Tools\ResolveTargetEntityListener` to the event manager.

You can better put it in a Extension, there you have direct access to the eventmanager instance.

[2015-11-03 14:17] matiux commented on #86
Uhm... sorry, can you show me an example?

[2015-11-03 14:18] patrickbrouwers commented on #86
https://github.com/laravel-doctrine/orm/blob/1.0/src/Extensions/TablePrefix/TablePrefixExtension.php

[2015-11-03 14:25] matiux commented on #86
Like this?

ResolveTargetEntityExtension.php

[code]

doctrine.php

[code]

[2015-11-03 14:27] patrickbrouwers commented on #86
Yes, but don't forget to add `addResolveTargetEntity` on that listener.

[2015-11-03 14:31] matiux commented on #86
nothig to do... doesn't work

doctrine.php

[code]

ResolveTargetEntityListener.php

[code]

ResolveTargetEntityExtension.php

[code]

Error:
  [Doctrine\Common\Persistence\Mapping\MappingException]
  Class 'Lando\Entity\ParticipantInterface' does not exist

[2015-11-03 14:38] patrickbrouwers commented on #86
Re-read my last remark ;)

[2015-11-03 14:41] ascirpus commented on #84
:+1: to this issue.

While I see the reasoning that @patrickbrouwers mentions - currently it's either kill Lumen entirely or kill Loggable.

You can't attach it to events because it won't work in Lumen.
We could throw out loggable for Lumen, because there's no Guard in Lumen anyway, revert back to the way it's been working.
And specifically for Laravel you could load Loggable specifically on auth.

[2015-11-03 14:41] matiux commented on #86
"don't forget to add addResolveTargetEntity on that listener." ?

But I have put in ResolveTargetEntityListener.php ...

[2015-11-03 14:43] patrickbrouwers commented on #84
Wish Laravel was a bit more consistent. But in the mean-time we have found a work-around. Will be pushed today.

[2015-11-03 14:44] patrickbrouwers commented on #86
[code]

And remove `Lando\Doctrine\Listener\ResolveTargetEntityListener` as it doesn't do anything.

[2015-11-03 14:51] matiux commented on #86
sorry but I have already tried with the same code.
What I miss is perhaps the proper registration.
I have remove my ResolveTargetEntityListener.php but what should I put in events => [ 'listeners'] => ?

[2015-11-03 14:58] patrickbrouwers commented on #86
I don't have the time to try it out myself now.

If you have added that code inside the extension, it should work.

Nothing should go in the listeners array. The Extensions already registered the listener.

Only thing you can check is if the extension get's booted. There are currently some problems with extensions outside the Laravel http scope (so in Lumen and console), fix will be released today

[2015-11-03 15:17] matiux commented on #86
In fact, I have moved the extension in App\Http\Doctrine\Extension but with php artisan db:seed command I get the usual error:

  [Doctrine\Common\Persistence\Mapping\MappingException]
  Class 'Lando\Entity\ParticipantInterface' does not exist

[2015-11-03 15:18] patrickbrouwers commented on #86
See my last sentence about the console

[2015-11-03 15:24] matiux commented on #86
Yes I have reed.
I am looking forward to get the fix

[2015-11-03 15:25] patrickbrouwers commented on #86
If you want to test it locally, you can move the extension manager boot outside the event closure:

https://github.com/laravel-doctrine/orm/blob/1.0/src/DoctrineServiceProvider.php#L43

[2015-11-03 16:11] maxbrokman commented on #84
Not had time to test my work on this today unfortunately, but soon!

[2015-11-03 16:39] sisve commented on #85
I spent longer than I dare to admit trying to resolve `Doctrine\ORM\Entity` until I noticed the badly placed row-break; and it's `Doctrine\ORM\EntityRepository`. Could you show us a stack-trace for the exception, and the code that triggers the resolution (I'm guessing a call to Application::bind or Application::make)? Or any clarification when you get that error?

[2015-11-03 16:40] patrickbrouwers commented on #85
Assuming `NodeRepository::class`  and `SixtyFiveTwenty\Repositories\Node\NodeRepository` are two different classes, are you sure you are resolving the right class?

[2015-11-03 16:53] patrickbrouwers commented on #84
@nexsja btw Lumen does have Guard. And it does support Sessions (if you enable the middleware)

[2015-11-03 17:00] patrickbrouwers commented on #86
1.0.9 is released

[2015-11-03 17:03] patrickbrouwers commented on #84
Fixed in 1.0.9

[2015-11-03 17:03] #84 closed, assigned to nobody

[2015-11-03 17:04] patrickbrouwers commented on #80
Will close this, as I don't it's related to Doctrine.

[2015-11-03 17:04] #80 closed, assigned to nobody

[2015-11-03 17:05] matiux commented on #86
Thankyou very much

[2015-11-03 17:06] patrickbrouwers commented on #86
Can you close this one if it works.

[2015-11-03 17:11] patrickbrouwers opened #89 "[1.1] Easier Timestampable and Softdeletable"
- Provide an own implementation of Timestampable and Softdeletable
- Should support all mapping drivers (Fluent as well)
- No Gedmo extensions needed
- Support both Carbon and DateTime, right date strategy should be choosen

[2015-11-03 17:13] patrickbrouwers opened #90 "[1.1] Add yaml/xml/config mappings to quickstart repo"
The quickstart repo already has the Fluent and annotations mappings. Examples for yaml, xml, config and php driver should also be present.

@FoxxMD Yaml is for you?

[2015-11-03 18:02] patrickbrouwers opened #91 "[1.1] Mapping files for password resets and failed jobs for all drivers"
Currently yaml, xml and fluent mapping files are missing for password resets and failed jobs.

Optimally it should become a console command which publishes the right entity and mapping file

[2015-11-03 18:03] patrickbrouwers opened #92 "[1.1] Integration testing tools"
Laravel has some useful testing tools like `seeInDatabase` but this runs on the Laravel connection. Perhaps we could provide Doctrine implementation for this.

[2015-11-03 18:05] patrickbrouwers opened #93 "[1.1] Run seeders on Doctrine connection"
Currently you can use seeders, but you have to use the EntityManager instead of an easy array of input.

Example code:

[code]

[2015-11-03 18:06] patrickbrouwers opened #94 "[1.1] Mapping:import command"
The `doctrine mapping:import` is missing

[2015-11-03 18:06] patrickbrouwers opened #95 "[1.1] Generate:entity command"
Generate entity command is missing

[2015-11-03 18:07] patrickbrouwers opened #96 "[1.1] Collection hydrator improvements"
Collection hydration should be improved still. ->getOneOrNullResults now returns a collection instead of null or the entity.,

[2015-11-03 18:08] patrickbrouwers opened #97 "[1.1] Quickstart documentation"
The documentation should get a quickstart guide, based on Laravel's quickstart guide, but based on the laravel doctrine quickstart repo https://github.com/laravel-doctrine/Laravel-Doctrine-Quickstart)

[2015-11-03 18:18] patrickbrouwers commented on #94
@maxbrokman something for you?

[2015-11-03 18:18] patrickbrouwers commented on #95
@maxbrokman something for you?

[2015-11-03 18:22] patrickbrouwers commented on #71
Links with https://github.com/laravel-doctrine/orm/issues/95

[2015-11-04 04:09] FoxxMD commented on #91
Current progress can be found at https://github.com/laravel-doctrine/orm/tree/passwordAndQueueMappingsSupport

[2015-11-04 07:15] izziaraffaele opened #98 "[1.0] Memcache provider not working"
I'm getting this error.

[code]

[2015-11-04 07:17] sisve commented on #98
In what way? Any particular use-case that fails, or are you unable to use it from config files? Any error messages or any way we can reproduce the issue?

[2015-11-04 11:16] EwanValentine commented on #85
Hi folks,

The error was actually being triggered whenever I hit any artisan command. I narrowed it down to the fact I had:

[code]

In one of my commands. I think the container resolution of `NodeRepository` was causing the error. If I changed it to use `EntityManager::getRepository(Node::class);` that resolved it, but it's not _really_ a 'fix'.

Full stack-trace:

[code]

Container binding in on

[2015-11-04 16:35] patrickbrouwers commented on #85
Can you re-read my last message and tell me if I'm right?

[2015-11-04 16:36] EwanValentine commented on #85
Yep! Sorry you're absolutely spot on. My bad! Thanks guys.

[2015-11-04 16:36] #85 closed, assigned to nobody

[2015-11-04 20:39] patrickbrouwers commented on #98
Fixed by 1.0.10

[2015-11-04 20:39] #98 closed, assigned to nobody

[2015-11-04 20:40] #86 closed, assigned to nobody

[2015-11-05 13:14] Zn4rK commented on #89
It would be cool if this implementation could work with fetch="EXTRA_LAZY", on the relation, which by the looks of it, doesn't work with Gedmo's SoftDeleteable.

[2015-11-06 08:43] patrickbrouwers commented on #89
Not sure if we have that in our hands or that's an issue in Doctrine's filter system.

[2015-11-06 09:07] Zn4rK commented on #89
It looks like it's a limitation (or a feature) in [PersistentCollection::removeElement()](https://github.com/doctrine/doctrine2/blob/master/lib/Doctrine/ORM/PersistentCollection.php#L373). So it might be a bit hard. Forcing the collection to be fetched before removing an element solves this case, but does not feel like a good solution.

[2015-11-08 22:43] tofarias opened #99 "No EntityManager is set-up for"
Hi. In "config/auth" I have this:

'driver' => 'doctrine',
'model' => Domain\Usuarios\Entities\User::class,

---

In "Domain\Usuarios\Entities\User.php" I have this:

<?php namespace Domain\Usuarios\Entities;

use Doctrine\ORM\Mapping as ORM;

/**
- Users
  *
- @ORM\Table(name="users", indexes={@ORM\Index(name="fk_users_1_idx", columns={"group_id"})})
- @ORM\Entity
  */
  class User implements \La

[2015-11-09 05:44] sisve commented on #99
Could you show us a stack-trace for the error?

[2015-11-09 10:37] tofarias commented on #99
Hi, here:

![config-auth](https://cloud.githubusercontent.com/assets/7261216/11037081/1fee39c6-86e3-11e5-9bd5-783b4a60a54b.PNG)
![domain-usuarios-entities-user](https://cloud.githubusercontent.com/assets/7261216/11037082/200d8e2a-86e3-11e5-966e-c9dfa2580bb3.PNG)
![config-doctrine](https://cloud.githubusercontent.com/assets/7261216/11037083/2012cb56-86e3-11e5-9768-da8a97760d78.PNG)
![no-entity-mana

[2015-11-09 15:51] patrickbrouwers commented on #99
If your entities are in `domain` you have to tell the Entity Manager about that.
In config file `doctrine.php` change `paths` to `base_path('domain')`

[2015-11-09 18:52] tofarias commented on #99
Ok, it's works! but I got a new error:

![maximum_function_nesting](https://cloud.githubusercontent.com/assets/7261216/11043103/3aa319e8-8702-11e5-877f-945e89548591.PNG)

[2015-11-09 18:54] patrickbrouwers commented on #99
Google is your friend, mate ;) http://stackoverflow.com/questions/8656089/solution-for-fatal-error-maximum-function-nesting-level-of-100-reached-abor?answertab=votes#tab-top

[2015-11-10 03:01] bicatu commented on #44
I use it.  Is there any starting point - besides read the code?

[2015-11-10 10:19] tofarias commented on #99
Ok, thanks.

[2015-11-10 10:19] #99 closed, assigned to nobody

[2015-11-10 10:24] tofarias opened #100 "Oracle database Mapping"
Hi, I generated entities from mysql database, it's work. But now I need do same in oracle database.
When I run this for one table:

vendor\bin\doctrine orm:convert:mapping --from-database -v --filter=USERS annotation domain

I get this:

![doctrine-orm-convert-mapping](https://cloud.githubusercontent.com/assets/7261216/11059910/d9675324-8783-11e5-8f4c-db66809cb101.PNG)

The "--filter" option not w

[2015-11-10 13:53] FoxxMD commented on #100
I believe your question is [specific to doctrine](https://doctrine-orm.readthedocs.org/projects/doctrine-orm/en/latest/reference/tools.html#reverse-engineering) as laravel-doctrine does not cover this command. I would check to see if your usage of the filter option is working correctly -- [it uses `strpos` to define the array it is cast to and then uses a regular expression.](https://github.com/do

[2015-11-10 15:36] MarcFRICOU opened #101 "Illuminate\Cache is not compatible with Lumen"
I'm getting this error since `1.0.10`

[code]

It seems that `Illuminate\Cache\CacheManager` has a dependency with `Illuminate\Foundation\Application` that does not exist in lumen (it's `Laravel\Lumen\Application`). I think that `illuminate/cache` package is not compatible with Lumen

[2015-11-10 22:18] patrickbrouwers commented on #101
Did you register the CacheServiceProvider ?

[2015-11-11 08:45] patrickbrouwers commented on #100
Does the table CK_LOG actually have a primary key? Because that's what it fails on.

[2015-11-11 14:58] tofarias commented on #100
Ok, but I'm using the "--filter=users" option, the "--filter=users" should mapping only the "users" table, not?

[2015-11-11 17:50] boedy commented on #101
I'm getting the same error.

[2015-11-11 17:55] patrickbrouwers commented on #101
Could one of you answer my question ;)

[2015-11-11 18:45] guiwoda commented on #92
IMHO easy mocking of the Doctrine API would be better than actual DB querying. I wouldn't want to be the one recommending integration tests with databases as the standard way of testing with this library.

[2015-11-11 18:46] patrickbrouwers commented on #92
I actually found for easy end-to-end testing of stuff like API's, it was extremely easy to do, without needing to mock a lot of querying stuff.

[2015-11-11 19:55] boedy commented on #101
I'm not sure which provider you're referring to. Do you mean this provider?:

`$app->register('\Illuminate\Cache\CacheServiceProvider');`

This doesn't work.

[2015-11-12 08:41] patrickbrouwers commented on #92
To summarise our Slack chat:
- Investigate how we can both provide Integration and mocking helpers for Doctrine testing
- Add a section to the docs with information about testing Doctrine parts: first part would be mocking repo's, etc., second part would be how the integration testing would work.

[2015-11-12 08:51] MarcFRICOU commented on #101
Sorry i was long to respond. Even with `CacheServiceProvider` registered, it does not work. I do think it's because of `Illuminate\Foundation\Application` dependency.

[2015-11-12 08:53] patrickbrouwers commented on #101
Apparently the `CacheManager` is only bound to `cache` in the container, which means it's not possible to inject it as class (which sucks). So I will have to figure something out.

[2015-11-12 08:57] MarcFRICOU commented on #101
thanks for the reply, I lock my composer dependency to `1.0.9` for now

[2015-11-12 08:58] patrickbrouwers commented on #101
If you wait 10 minutes, I will have a fix out :)

Edit: 1.0.11 is tagged

[2015-11-12 08:59] #101 closed, assigned to nobody

[2015-11-12 09:48] MarcFRICOU commented on #101
It does not work neither :cry: :

[code]

This time, it seems that TypeHint is not respected for Apc / Memcached / Redis and VoidCache providers

[2015-11-12 09:50] patrickbrouwers commented on #101
Works for Redis for me.
I do have facade disabled though.

[2015-11-12 09:54] patrickbrouwers commented on #101
Can't reproduce with facades enabled and driver set to APC

[2015-11-12 09:58] MarcFRICOU commented on #101
I'll look into it, it must come from my configuration

[2015-11-12 09:59] patrickbrouwers commented on #101
Let me know

[2015-11-12 10:06] MarcFRICOU commented on #101
So, for now, after providers registering rearrangement (1st `CacheServiceProvider` then `DoctrineServiceProvider`) with `php artisan` I have a infinite loop on `Laravel\Lumen\Application->registerCacheBindings()`

[2015-11-12 10:08] patrickbrouwers commented on #101
Perhaps it's not necessary to register CacheServiceProvider separately?

[2015-11-12 10:08] MarcFRICOU commented on #101
without CacheServiceProvider

[code]

[2015-11-12 10:09] patrickbrouwers commented on #101
Hm, this part of Lumen is really crap :(

[2015-11-12 10:30] MarcFRICOU commented on #101
Well, that's work over HTTP if I register in good order the different providers. But I can't make it work in console with `php artisan`

[2015-11-12 10:46] patrickbrouwers commented on #101
I'm a bit busy now, but later today I might have time to look into the Cache Factory interface and see if that might me a better solution.

[2015-11-12 11:02] MarcFRICOU commented on #101
I have a solution, I don't understand why for now, it's crapy, but it's work. In `DoctrineServiceProvider` i made this change :

[code]

I think that it's because of `registerCacheBindings` in `Application`. It's done after registering `DoctrineServiceProvider` so cache is not already bound :confused:.

I had to remove `CacheServiceProvider` registering because it's exactly what is done by `regist

[2015-11-12 11:03] MarcFRICOU commented on #101
Later in the afternoon, i could make a PR if you want.

[2015-11-12 11:29] patrickbrouwers commented on #101
Found a better solution

[2015-11-12 14:24] MarcFRICOU commented on #101
:+1: much more efficient and smart :wink: (fixed in 1.0.12)

[2015-11-13 07:05] matt-allan opened #103 "Config files mapping example seems incorrect"
Hey guys,

The config files mapping example in the docs looks like this:

[code]

It should look like this:

[code]

Otherwise you get the error `If you want automatically generated identifiers instead you need to adjust the metadata mapping accordingly.` because the generator strategy isn't picked up.

[2015-11-17 23:12] patrickbrouwers commented on #103
Can you make a PR? Thanks

[2015-11-18 16:31] matt-allan commented on #103
Opened. https://github.com/laravel-doctrine/docs/pull/30

[2015-11-19 02:09] bicatu opened #104 "What features are missing?"
Hi,  I am trying to find out any limitations of the current 1.0 version.  I am about to start a new project and really want to use Doctrine with Laravel but I want to know any known problems or operations I can fulfill yet.

[2015-11-19 18:45] patrickbrouwers commented on #104
That's very difficult to answer without knowing more about your project. You can better join us on Slack and ask specific questions about stuff you need.

I'm using Laravel Doctrine in several big apps and it's working perfectly.

[2015-11-19 18:47] #103 closed, assigned to nobody

[2015-11-25 00:42] #104 closed, assigned to nobody

[2015-12-06 22:56] neon64 opened #105 "Automatically add metadata paths from packages"
I had this problem with mitchellvanw's laravel doctrine package and I don't think this package is any different.

It is annoying to manually add paths to `config/doctrine.php`, especially when they are paths for packages you indirectly depend upon.

In some of my projects I have used a helper method inside a service provider that will append an item onto the `paths` array:

[code]

However this mi

[2015-12-07 17:29] matiux opened #106 "Jwt authentication"
Who can show me an example of a JWT authentication with laravel-doctrine ?
It's possible?

[2015-12-07 17:30] patrickbrouwers commented on #106
Let's keep these things on Slack :) I know there are a couple of people using JWT over there.

http://slack.laraveldoctrine.org/

[2015-12-08 19:25] #106 closed, assigned to nobody

[2015-12-08 19:27] patrickbrouwers commented on #105
Example from the ACL package:

[code]

[2015-12-10 16:22] EwanValentine opened #107 "How do I get the doctrine cache instance?"
I'm using 2nd level caching for my entities, I'm set-up to use Redis. It's caching okay, but I need to be able to clear the caching when an entity is updated etc. I'm setting the cache with `useResultCache(true);`. However, I can't see from your documentation how you flush caches etc.

Thanks!

[2015-12-10 18:46] patrickbrouwers commented on #107
Just get it from the EntityManager, `$em->getCache();`

http://doctrine-orm.readthedocs.org/projects/doctrine-orm/en/latest/reference/second-level-cache.html#cache-api

[2015-12-10 21:14] EwanValentine commented on #107
Wow, that easy! Thanks!

[2015-12-10 21:14] #107 closed, assigned to nobody

[2015-12-11 13:46] christiancannata opened #108 "ENUM type error in doctrine:schema:validate"
Hi guys,
I get this error when I try to validate my schema:

"Unknown database type enum requested, Doctrine\DBAL\Platforms\MySQL57Platform may not support it."

I have added this in my doctrine.php config file:
 'custom_types'              => [
        'json' => LaravelDoctrine\ORM\Types\Json::class,
        'enum' => Doctrine\DBAL\Types\StringType::class
    ],

but this not work.

How can I fix

[2015-12-11 16:22] josenicomaia commented on #108
In order to solve it, I am using this snipet on AppServiceProvider.php:

[code]

[2015-12-11 16:22] josenicomaia commented on #108
I guess that it will solve your problem @christiancannata

[2015-12-15 19:30] #105 closed, assigned to nobody

[2015-12-17 17:47] #108 closed, assigned to nobody

[2015-12-17 20:55] joshhornby commented on #44
@patrickbrouwers I am guessing this isn't being actively worked on?

[2015-12-18 12:34] josenicomaia commented on #44
@joshhornby,

Actualy, @patrickbrouwers is overloaded taking care of ORM, Fluent and etc.
Because of this, we need someone that can get this mission.

[2015-12-18 13:29] glennjacobs opened #109 "Laravel 5.2"
Laravel 5.2 is in beta now, could compatibility be added now?

[2015-12-18 13:44] glennjacobs commented on #109
I see it's already been handled, my bad.

[2015-12-18 13:44] #109 closed, assigned to nobody

[2015-12-18 19:36] mattcrowe opened #110 "Validation without DoctrinePresenceVerifier"
Is it possible to disable/prevent the registration of the \LaravelDoctrine\ORM\Validation\DoctrinePresenceVerifier?

I'm trying to use this in a mixed environment, ie with Doctrine and Eloquent, and when I use Validator::make() I would rather use the original implementation. The DoctrineServiceProvider is basically choosing this Verifier for everything.

[2015-12-19 15:15] josenicomaia commented on #110
There are so many ways to achieve it. But no one using configuration, just hacking.

But I will tell what should fit better to you.

AppServiceProvider.php

[code]

When using the Validator

[code]

[code]

[2015-12-19 15:16] josenicomaia commented on #110
@mattcrowe I hope this works haha. I didn't test it.

[2015-12-23 17:19] bskimball opened #113 "Builtin IBM_DB2 support"
I am currently using Atrauzzi laravel-doctrine, and have successfully configured it to work with the IBM_DB2 driver. I would like to migrate to this version but it looks like the IBM_DB2 driver is unsupported.

[2015-12-23 17:41] josenicomaia commented on #113
I was looking here, and I guess that it is not so hard to do.

Create a Ibmdb2Connection like https://github.com/laravel-doctrine/orm/blob/1.0/src/Configuration/Connections/MysqlConnection.php using your actual atrauzzi's config.

PS: I have never used IBM_DB2

[2015-12-23 17:44] patrickbrouwers commented on #113
You can use any connection driver you want, that's no problem. Only we won't add all drivers that exist, only the most commonly used.

Have a look at our documentation, it shows how you can add custom connection drivers: http://www.laraveldoctrine.org/docs/1.0/orm/connections

[2015-12-23 17:45] patrickbrouwers commented on #110
@josenicomaia solution is a good one for this use case.

[2015-12-23 17:45] #110 closed, assigned to nobody

[2015-12-23 17:47] patrickbrouwers commented on #44
@joshhornby Nope, and I most likely won't be working on it in the near future, as it is something I won't be using. Other stuff has more prio for me.
If someone wants to be lead on this, let me know. I will help where needed, but don't have the time to learn als this odm stuff to properly implement and test it.

[2015-12-23 17:48] bskimball commented on #113
Sweet I didn't see that section of the docs. I can post the config if I get it working. I will take the route Patrick suggested as I do not want to edit any files inside the vendor folder. Thanks to you both for the response.

[2015-12-23 18:02] #113 closed, assigned to nobody

[2015-12-23 18:02] patrickbrouwers commented on #113
np :)

[2015-12-23 18:56] bskimball commented on #113
I actually used josenicomaia's technique by creating a DB2Connection.php file, placing the IBM_DB2 driver options in that file. I then set the connection in my config file to 'db2'. This works great.

[2015-12-23 18:57] patrickbrouwers commented on #113
You didnt add the file in the vendor folder right? Because it will be gone on the next composer update.

[2015-12-23 19:05] bskimball commented on #113
Is the best approach to add a new service provider and place in the boot method?

[2015-12-23 19:08] josenicomaia commented on #113
I suggested this approach wishing you make a PR with it.

But If you are not planing it, you have to put it on the boot method because what @patrickbrouwers said.

[2015-12-23 19:11] bskimball commented on #113
I can make a PR, like I said, I already have it working with the separate file. In the mean time for my personal use I will add it to the boot method.

Sorry, for the misunderstanding, I'm new to this

[2015-12-23 23:00] josenicomaia commented on #113
Great! We are all new on this. :smile:
I have a slice on it. The important is that you are using it :D

[2015-12-24 13:17] bskimball commented on #113
I'm following the instructions on the docs about adding the driver to the boot method and I'm getting this.
Argument 1 passed to App\Providers\AppServiceProvider::App\Providers\{closure}() must be an instance of App\Providers\Application, array given, called in /www/zendsvr6/htdocs/pmta-app/vendor/laravel-doctrine/orm/src/Configuration/Manager.php on line 103 and defined

Also, there seems to be a

[2015-12-24 13:29] bskimball commented on #113
For anyone else looking to add IBM_DB2...

go to app/Providers/AppServiceProvider.php

add this to your boot method

[code]

*note I am using DB2 on the IBM iSeries

[2015-12-25 14:16] patrickbrouwers opened #114 "L5.2 authentication"
From upgrade guide:

[code]

Will become something like this:

[code]

[2016-01-02 21:55] #114 closed, assigned to patrickbrouwers

[2016-01-05 21:47] bskimball commented on #32
I have this same issue when using an ArrayCollection, I however have 'auto-generate' set to false. I am running version 1.0.13. Changing 'auto-generate' to true seems to fix the issue.

[2016-01-07 10:35] nnn406 commented on #57
Hi, could you please clarify: What the right way to specify in config file `doctrine.php` to use `Simplified YAML Driver` ??

[2016-01-07 17:32] matt-allan commented on #57
Specifying `'meta' => 'simplified_yaml'` should work.

[2016-01-07 20:32] nnn406 commented on #57
No it does not work. Actually I've tried to debug and during debug i've found that
`'meta' => 'SimplifiedYaml'` helps to load appropriated driver, but there is another problem

this is my config

[code]

this is what I have in log file:

[code]

but file is there

[code]

And this is what I see if I run `doctrine:info`

[code]

from digging in the code, I understood that I need to specify path as

[2016-01-07 21:22] matt-allan commented on #57
Hi,

Thanks for the detailed reproduction steps.  I just pushed an example that should make usage a little clearer.

The config should be an associative array where `path` => `namespace`, like this:

[code]

[example](https://github.com/matthew-james/laravel-doctrine-example/blob/master/config/doctrine.php)

Then the mapping file should be named like `MyClassName.orm.yml`, and you don't need the n

[2016-01-08 09:02] nnn406 commented on #57
Thanks @matthew-james It works!!

But one small note, How could I satisfy following case:
I would like to have the same place for mapping files
`base_path('mappings')`

but each different yaml might be pointed to entity from different folders.

In my example I have entities `User` and `Company` in following folders:

[code]

But all map files should stay in the same place - `Infrastructure/Doctrin

[2016-01-08 09:12] matt-allan commented on #57
You would need to redeclare the mapping path for each namespace, like this:

[code]

I think you could also declare `base_path('mappings') => 'Domain'` and name
your files like `User.Entity.User.orm.yml` if you don't want to map each
namespace.
On Jan 8, 2016 1:03 AM, "nnnikolay" notifications@github.com wrote:

[2016-01-08 09:14] nnn406 commented on #57
@matthew-james Ok thanks, I'll try.

[2016-01-20 17:22] glennjacobs opened #116 "Getting error when trying to use Password Reset functionality in L5.2"
I'm getting the following error in Laravel 5.2 (using version 1.1.0), which looks to be a bug...

[code]

[2016-01-20 17:51] maxbrokman commented on #116
@patrickbrouwers looks like this

https://github.com/laravel-doctrine/orm/blob/f11272540167d5e8b72cdcf61ddb5f56cad823c8/src/Auth/Passwords/PasswordResetServiceProvider.php#L46

[code]

is wrong, `$users` should probably be

[code]

Or otherwise directly instantiate `DoctrineUserProvider`

---

Also `$view` doesn't look compatible with 5.2 either either, email is now a key down under `users`.

~~Po

[2016-01-20 18:04] maxbrokman commented on #116
Happy to put together a PR for this today / tomorrow.

[2016-01-21 10:57] glennjacobs commented on #116
:+1:

[2016-01-21 14:14] reyezmarc opened #118 "Call to undefined method [setPresenceVerifier]"
Version: 1.0.14

Hello,

I got the following error when accessing the Validator make method:

[code]

Any idea why this error occurs?

[2016-01-21 14:24] patrickbrouwers commented on #118
At first I thought it could be: https://github.com/laravel-doctrine/orm/pull/115

But 1.0.14 is Laravel 5.1 only.

Are you running Laravel 5.2?

Edit: but it seems `VanDeLeurFormBuilder` is calling `setPresenceVerifier`

[2016-01-21 14:25] reyezmarc commented on #118
I'm running Laravel 5.1.

[2016-01-21 14:27] patrickbrouwers commented on #118
Seems the problem lies with `VanDeLeurFormBuilder` (check the stack trace)

[2016-01-21 14:52] reyezmarc commented on #118
Thanks for giving me directions to where to look at. Turned out I had a couple of namespace issues in that file.

[2016-01-21 14:57] patrickbrouwers commented on #118
No problem. Enjoy the package! And join us on Slack if you have Doctrine questions!

[2016-01-21 14:57] #118 closed, assigned to nobody

[2016-01-21 14:58] patrickbrouwers commented on #116
Will try and look into this (and the presence verifier) tonight

[2016-01-21 15:24] beingjungshahi commented on #118
I’m getting following error while installing acl.
[Illuminate\Contracts\Container\BindingResolutionException]
Target [Doctrine\Common\Persistence\ManagerRegistry] is not instantiable while building [LaravelDoctrine\ORM\DoctrineManager].
how can i fix this???

Santosh Jung Shahi
Balaju-16, Ktm
M:9841482507
E:adxantos@gmail.com

[2016-01-21 15:25] patrickbrouwers commented on #118
Can you please create a dedicated issue for this, as it has nothing to do with this issue.
Alternatively you can ask for help on our Slack, which I highly recommend!

[2016-01-21 15:26] beingjungshahi commented on #118
thank you so much sir
Santosh Jung Shahi
Balaju-16, Ktm
M:9841482507
E:adxantos@gmail.com

[2016-01-24 13:07] patrickbrouwers commented on #116
Should be better in 1.1.1 now. If there's anything that behaves different than expected, let me know.

[2016-01-24 13:07] #116 closed, assigned to nobody

[2016-01-27 01:10] jwpage opened #119 "'exists' and 'unique' validation breaks with laravel/framework >=5.2.11"
Since 5.2.11, the Validator class has started calling PresenceVerifier::setConnection regardless of the arguments passed (see: https://github.com/laravel/framework/blob/5.2/src/Illuminate/Validation/Validator.php#L1119)

The LaravelDoctrine DoctrinePresenceVerifier doesn't implement this method, so it breaks.

I don't think LaravelDoctrine really needs to handle changing the connection (this shoul

[2016-01-27 05:01] raygo22 opened #120 "How to change naming strategy?"
Is there a way to change naming strategy in the configuration? I'm migrating some models from another framework, and everything was camelCase, now I'm getting errors because it's looking for fields with underscores in the database.

[2016-01-27 09:15] patrickbrouwers commented on #120
Yes, you can set the naming strategy per entity manager with the key `naming_strategy`.

doctrine.php config:

[code]

Edit: if you need the default (camelCase); Doctrine\ORM\Mapping\DefaultNamingStrategy

[2016-01-27 09:15] #120 closed, assigned to nobody

[2016-01-27 09:17] patrickbrouwers commented on #119
Ugh more breaking changes in point releases. Even more annoyingly `setConnection` is not even on the contract.

And yes, the connection is handled on entity level.

Will see if I find some time to fix it.

[2016-01-27 10:36] patrickbrouwers commented on #119
Fixed in 1.1.2.
Also it supports rules like this `exists:manager2.App\User,id` with a custom manager now.

https://github.com/laravel-doctrine/orm/releases/tag/1.1.2

[2016-01-27 10:36] #119 closed, assigned to nobody

[2016-01-27 10:38] jwpage commented on #119
Awesome, thank you! :smiley:

[2016-02-01 01:39] pgaharwar commented on #45
Still getting this error when I do:
view()->share('user', \Auth::user());

Here is the error:
[InvalidArgumentException]
Driver [doctrine] not supported.

[2016-02-02 22:38] reyezstef opened #121 "Where can I define resolve_target_entities"
Hello, I was wondering where I could define this config item: resolve_target_entities

as described in this manual:

http://symfony.com/doc/current/cookbook/doctrine/resolve_target_entity.html

I tried by modifying the config, but there doesn't seem to be a clear namespace defined for this and so I probably didn't define it at the right place.

Regards

[2016-02-02 22:53] patrickbrouwers commented on #121
Have a look at #86

[2016-02-02 23:01] reyezstef commented on #121
Thank you will look into it

[2016-02-03 09:17] reyezstef commented on #121
I have added the following extension:

[code]

I have added a dd() to see if the actual extension is triggered. I have added this in my config:

[code]

But when accessing my User object in middleware, I get a class does not exist error and the extension is not executed.

In the service provider bootExtensionManager function I see the following code is triggered, but I'm unsure if this is doing wh

[2016-02-05 16:49] rochapablo opened #122 "Couldn't Install Using Composer"
What am I missing?

[2016-02-05 16:53] rochapablo commented on #122
Never mind! Wrong version.

[2016-02-05 16:53] #122 closed, assigned to nobody

[2016-02-09 08:09] morfin opened #123 "Auth driver + Gedmo\Mapping\Annotation\Blameable"
Hi, I'm trying to implement Auth, according to this: http://www.laraveldoctrine.org/docs/1.1/orm/auth. The problem is that when I change driver to "doctrine", I get this error when validating Doctrine schema:

[code]

This is my auth.php:

[code]

The User model that implements Illuminate\Contracts\Auth\Authenticatable is using Blameable annotation in createdBy property.

Digging a little bit, I f

[2016-02-09 16:58] FoxxMD commented on #123
Are you using annotations only? Or are you using yaml/xml?

[2016-02-09 17:20] morfin commented on #123
Only annotations.

[2016-02-09 18:09] morfin commented on #123
Notice that laravel-doctrine auth instructions point to Laravel 5.1. Probably this hasn't been tested with 5.2

[2016-02-11 14:56] reyezstef commented on #121
I got this working through command line. But when accessing an entity in middleware through http, it crashes with class does not exist error.

[2016-02-11 14:59] reyezstef commented on #121
When I put this in the construct of the extension:

[code]

I see 1 through command line, but not via http.

[2016-02-11 15:09] reyezstef commented on #121
The LaravelDoctrine\ORM\Extensions\ExtensionManager is booting after middleware it seems.

What I did to solve it is:

[code]

I put in : prependMiddleware(BootExtensions::class), instead of pushMiddleware(BootExtensions::class)

Would it be possible to fix this for 5.1, would be highly appreciated.

Update:
I meant in the bootExtensionManager in DoctrineServiceProvider;

[2016-02-11 16:15] patrickbrouwers commented on #121
I think you are doing something wrong in your code then. This works perfectly fine for me.

Are you calling the interface in another middleware perhaps?

[2016-02-11 16:19] reyezstef commented on #121
Yes I call it in another middleware.

[2016-02-11 16:20] patrickbrouwers commented on #121
I will have to investigate the impact of changing it to prepend.

[2016-02-12 16:42] patrickbrouwers commented on #123
https://github.com/laravel-doctrine/extensions/issues/22

[2016-02-12 16:42] #123 closed, assigned to nobody

[2016-02-12 16:44] #121 closed, assigned to nobody

[2016-02-12 16:44] patrickbrouwers commented on #121
Will add it in next release

[2016-02-12 17:30] patrickbrouwers commented on #94
https://github.com/laravel-doctrine/orm/commit/1f1dbb26bf7524c288d1f9320cbf02b1cd0540e3

[2016-02-12 17:30] #94 closed, assigned to nobody

[2016-02-12 20:01] patrickbrouwers commented on #71
Added `doctrine:generate:entities command`

[2016-02-12 20:01] #71 closed, assigned to nobody

[2016-02-12 20:01] #95 closed, assigned to nobody

[2016-02-20 00:06] joshhornby commented on #114
@patrickbrouwers I seem to be having issues with the `auth` middleware in 5.2. I get the following error `No EntityManager is set-up for App\User` I have seen the issue https://github.com/laravel-doctrine/orm/issues/99 and followed your comments in there, but still doesn't seem to fix the issue.

[code]

And my `User` class:

[code]

My `auth.php` contains:

[code]

My `doctrine.php` looks as foll

[2016-02-20 08:13] joshhornby commented on #114
I have had another look and seems I was missing the ORM doc blocks:

[code]

This isn't very clear in the docs so will submit a PR this weekend.

[2016-02-20 13:12] patrickbrouwers commented on #114
Agree that it's best to have it in the docs too, but on the other hand think when using doctrine you must know about adding the @ORM\Entity metadata to the class.

[2016-02-20 17:34] patrickbrouwers commented on #121
Have reverted the commit, it breaks extension who need the session to be started.

Edit: fixed it in another way. Resolve stuff should remain working.

[2016-02-20 19:07] patrickbrouwers commented on #123
Next release should work in the normal order again

[2016-02-23 16:55] fabienkrubals opened #126 "Issue with orm 1.1.4 and lumen 5.2.5"
Hello.
I hope this is the correct process to submit an issue:

There is a little issue appearing in 1.1.4 of the ORM with Lumen (5.2.5)

It seems the change introduced in https://github.com/laravel-doctrine/orm/commit/68a25eb6764a072b8d72855a964788dec64885ff is the cause :

The lumen application context does not have 'booted' method.

[2016-02-23 16:35:00] lumen.ERROR: Symfony\Component\Debug\Exce

[2016-02-23 16:59] patrickbrouwers commented on #126
Fixing it right now. Wish Lumen was more compatible with Laravel :'(

[2016-02-28 12:54] patrickbrouwers commented on #126
Forgot to mention, but the fix was released couple of days back.

[2016-02-28 12:54] #126 closed, assigned to nobody

[2016-02-29 13:35] fabienkrubals commented on #126
awesome :)

thanks, seems functional now.

[2016-03-04 12:12] ahmedali5530 commented on #95
hi,
why can't we use this command in laravel nor in doctrine standalone installation, is it only available by symfony?
I searched in doctrine documentation but could not find this command.

[2016-03-04 13:40] patrickbrouwers commented on #95
We have it now: https://github.com/laravel-doctrine/orm/blob/1.1/src/Console/GenerateEntitiesCommand.php

[2016-03-07 07:45] ahmedali5530 commented on #95
Hi @patrickbrouwers thanks for reply, but this command is different from doctrine:generate:entity command, have a look at this page [http://symfony.com/doc/current/book/doctrine.html#creating-an-entity-class](url) as this command provides a wizard like structure for generating entities. I have used it in symfony but unable to find in this package.
![image](https://cloud.githubusercontent.com/asset

[2016-03-07 08:14] patrickbrouwers commented on #95
Feel free to PR it. For me personally it has no priority to implement.

[2016-03-10 04:10] oddz opened #130 "After Running Composer Update Fluent Class Does Not Exist"
Using the most recent source this class does not exist in fluent repo but is referenced in this repo.

LaravelDoctrine\Fluent\Extensions\ExtensibleClassMetadataFactory

[2016-03-10 04:13] oddz commented on #130
The class is referenced in this file.

src\Configuration\MetaData\Fluent.php

[2016-03-10 04:27] oddz commented on #130
Anyone having this issue needs to use the fluent version: dev-extensions-support

[2016-03-10 13:56] patrickbrouwers commented on #130
Our goal is to tag Fluent as 1.2 today with the extension support in it.

[2016-03-10 18:39] oddz commented on #130
Cool, bad timing I guess on my end.

[2016-03-10 18:44] patrickbrouwers commented on #130
Glad to hear that you like it :)
And glad to hear someone using Fluent! :D

[2016-03-15 17:48] pmartelletti opened #131 "[BUG] Password reset broken on 1.0.*"
### Package version, Laravel version

Using 1.0.18 and Laravel 5.1.31
### Expected behaviour

When trying to reset a password, an email should be sent to the user.
### Actual behaviour

Getting the following error:

@patrickbrouwers  any ideas of what could be wrong? Please not that we would like to stick to Laravel 5.1, hence why we are using version 1.0.*

[2016-03-15 19:53] wilcarjose opened #132 "[BUG] Error using meta data: config"
### Package version, Laravel version

Orm 1.1 and Laravel 5.2
### Expected behaviour

[code]
### Actual behaviour

[code]
### Steps to reproduce the behaviour

Hi, thanks for this great work.
I have a problem using **meta data: config**
I set in config/doctrine.php

[code]

and I created config/mappings.php

[code]

but, when I ran

[code]

I had this error:

[code]

I checked /var/www/project/ven

[2016-03-16 19:28] pmartelletti commented on #131
@patrickbrouwers any comments?

[2016-03-17 13:05] FoxxMD commented on #131
Can you check that in your `providers` in `config/app.php` that

[code]

is listed after

[code]

[2016-03-17 14:41] wilcarjose commented on #132
any comments about my change?

[2016-03-17 15:11] pmartelletti commented on #131
@FoxxMD  I can't be so stupid... Thanks for that!

[2016-03-17 15:11] #131 closed, assigned to nobody

[2016-03-25 03:25] dave-redfern commented on #89
I know this issue is a little old, but if it helps at all I implemented a few of these behaviours: https://github.com/dave-redfern/laravel-doctrine-behaviours It's done via interfaces and listeners, so the only thing needed in mappings are the fields. If there is anything useful, feel free to help yourselves.

[2016-03-25 16:51] firdausious commented on #114
Agree with @patrickbrouwers , must add @ORM\Entity metadata to the class on docs

[2016-03-26 03:39] felipeweb11 commented on #130
Which the release date of fluent 1.2?

[2016-03-30 14:12] oddz opened #136 "Doctrine Fixture/Seeding Support"
It would be nice to have seeding/fixtures that are compatible with Laravel doctrine. I'm researching options for my own project which lead me to this blog article.

http://culttt.com/2014/06/30/getting-started-doctrine-2-laravel/

In the comments an individual asks about using fixtures with doctrine and author cites these two sources as possibilities.

https://github.com/fzaninotto/Faker#populatin

[2016-03-31 13:12] FoxxMD commented on #136
I currently use alice for seeding and testing, it works like a champ.

However, installation/use didn't require any extra steps to use it with LD. Is there something more you think LD should be doing to facilitate use of alice or faker?

[2016-03-31 16:20] reyezJelle opened #137 "Character encoding"
Is there a way to set the characterencoding for mssql server. It seems that setting the property in config/database.php doesn't have an effect.

// config/database.php
  'sqlsrv' => [
            'driver'   => 'sqlsrv',
            'host'     => env('DB_HOST', 'localhost'),
            'database' => env('DB_DATABASE', 'forge'),
            'username' => env('DB_USERNAME', 'forge'),
            'pa

[2016-03-31 22:48] oddz commented on #136
I'm not quit sure as I have just began exploring alices usage.

[2016-04-01 00:54] oddz commented on #136
The first problem I have run into is using bcrypt within alice yml files.

[2016-04-01 02:35] oddz commented on #136
I believe I have figured this out.

I create a console command to load in seeds. Currently only user data.

[code]

I created two custom providers and hooked them up with alice/faker. On eexposed bcrypt and the other carbon::now.

[code]

[code]

My user yml file than look like this which seems to load without error.

[code]

If there is a better way to do it I'm all ears.

[2016-04-01 13:17] FoxxMD commented on #136
Right. Your command looks nice and I'm sure this would be super helpful to laravel/doctrine users but it doesn't fit the scope of laravel-doctrine/orm. Perhaps consider publishing your own package that provides this command (and providers) and use laravel-doctrine/orm as a dependency? :) We could add a section in our docs like "Packages Using LD" and include your project there.

[2016-04-01 13:17] #136 closed

[2016-04-01 13:25] FoxxMD commented on #93
Doctrine doesn't support seeding natively (anymore) right? There are packages for seeding like [DoctrineFixtures](https://symfony.com/doc/current/bundles/DoctrineFixturesBundle/index.html) and [Alice](https://github.com/nelmio/alice) but neither provide that kind of generic input you have in the example.

Am I confusing functionality? Fixtures !== seeders?

[2016-04-01 13:59] patrickbrouwers commented on #93
Seeder -> just put data in the table (generic)
Fixture -> generated data, then seed to table

[2016-04-02 01:10] oddz commented on #136
Working through it I think it is better suited as a recipe than a new provider. However, if I get to the point where it warrants a reusable provider I will let you know. Thanks.

[2016-04-06 15:11] patrickbrouwers commented on #137
You'll have to add a pull-request to add `charset` to `LaravelDoctrine\ORM\Configuration\Connections\SqlsrvConnection`

[2016-04-06 15:17] patrickbrouwers commented on #132
No, that's not the right fix. I just noticed that Config accidentally doesn't extend MetaData, which is required for the if-statement to work in EMFactory. Will be fixed in next release.

[2016-04-06 15:18] #132 closed, assigned to nobody

[2016-04-06 15:19] patrickbrouwers commented on #89
@dave-redfern  we are considering adding "community packages" to the website. Will add your link :)

[2016-04-06 15:19] #89 closed, assigned to patrickbrouwers

[2016-04-06 15:20] #96 closed, assigned to nobody

[2016-04-06 15:20] #97 closed, assigned to nobody

[2016-04-06 19:12] wilcarjose commented on #132
Thanks @patrickbrouwers, I will wait

[2016-04-07 19:58] #137 closed, assigned to nobody

[2016-04-07 19:58] patrickbrouwers commented on #137
Will be added to next release

[2016-04-07 20:05] patrickbrouwers commented on #130
Fluent version 1.1 is released.

[2016-04-07 20:05] #130 closed

[2016-04-11 01:56] tezhm opened #140 "[QUESTION] doctrine:mapping:import --filter option"
Trying to import a set of tables from an existing schema and getting the following errors when using the `--filter` option:

[code]

[code]

When running help, the `--filter` option description asks for a "string pattern" to match entities that should be mapped.

[code]

Am I misinterpreting the usage of this option?

[2016-04-12 14:30] jaccoTopVintage opened #141 "[QUESTION] generate mapping files extension mismatch?"
### Package version: 1.1, Laravel version: 5.2

Hi,

In file `vendor/laravel-doctrine/orm/src/Console/MappingImportCommand.php` at line `81`, the output filename for mappings files is set to `.'.orm.'.$type;`

The result is that the console command:

`php artisan doctrine:mapping:import`

generates **`.orm.xml`** or **`.orm.yaml`** files.

<br>
However, the console command:

`php artisan doctrine:

[2016-04-12 17:06] GiorgioZett opened #142 "[QUESTION]dql works with artisan, not working with apache"
[QUESTION].

laravel-doctrine/orm": 1.1.9, laravel : 5.2.29

I'm new to laravel and doctrine 2.
I have done some works and some test, but I have a strange issue.
There is a controller, there is a simple DQL query that works if I use artisan serve, but the same query is broken when local apache serve laravel web app.
When I use apache server, laravel home page works, and  api's work, too.
I checked

[2016-04-12 17:23] FoxxMD commented on #142
What is your local environment and what environment is the break happening in? (OSX, Windows, *nix)

If you are using environmental variables have you checked that they are populated/being recognized by the apache server?

[2016-04-12 19:02] GiorgioZett commented on #142
thanks for the quick reply!
so...
ubuntu 14
apache 2.4.7
I use .env config file, but there is no doctrine config in it.
About apache conf: there is an alias (ngtem) to serve laravel public folder.
all apache alias conf seems right.
There is an .htaccess file in the public folder.
I added this line in it:
`RewriteBase /ngtem`
`ngtem`  is apache alias.
I added cors middleware, it works well, otherwi

[2016-04-13 07:20] patrickbrouwers commented on #142
Sure your autoloading is set-up correctly?

[2016-04-13 07:20] patrickbrouwers commented on #140
Can you make PR that will fix the problem with --filter?

[2016-04-13 07:38] GiorgioZett commented on #142
I created a doctrine.php in app/config folder.
I changed this:
`'paths'      => [
                base_path('app/Entities')
            ],`
and removed namespace entry.
Entities are in app/Entities folder.
others settings are the same as doctrine.php in vendor/laravel-doctrine/orm/config
Is there any other autoloader to setup in laravel or doctrine configuration I can check?
thanks

[2016-04-13 07:50] jaccoTopVintage commented on #141
I've narrowed the issue down to method `getAllClassNames($globalBasename)` in file `vendor\doctrine\common\lib\Doctrine\Common\Persistence\Mapping\Driver\DefaultFileLocator.php` at line `126`.

The command:
`php artisan doctrine:mapping:import xml database/mappings`
produces `.orm.xml` files, while the `getAllClassNames()` method is looking for `.dcm.xml` files.

With this additional information,

[2016-04-13 08:53] patrickbrouwers commented on #141
Why did you empty this issue?

[2016-04-13 08:55] jaccoTopVintage commented on #141
because I was in the process of updating it with more in-depth information, thereby rephrasing my question.

Sorry for confusing you with the intermediate step.

[2016-04-13 09:04] patrickbrouwers commented on #141
Can you make a PR to make that a console setting?

[2016-04-13 10:19] jaccoTopVintage commented on #141
I'm not sure that making the extension-type an console setting will fix the issue.

It seems that the **`.dcm.xml`** extension is for the `xml` driver,
while the **`.orm.xml`** extension is for the `SimplifiedXml` driver.

source: [doctrine/reference/xml-mapping](https://doctrine-orm.readthedocs.org/en/latest/reference/xml-mapping.html)

[2016-04-13 13:34] FoxxMD commented on #142
I'm still not entirely sure what the problem is. Can you clarify this:

Are there two apache servers? Is one of them in a different environment? Can you clear that up?

Changed to what?

Have you tried running `php composer dump-autoload`?

[2016-04-13 15:09] jaccoTopVintage commented on #141
So, some 4 hours later...

**Note:** We tried using yaml files as well; the resulting errors and solutions are the same for both `.xml` and `.yml` files, so wherever I write `.xml`, you could read `.yml`.

<br>
There seems to be an issue which is related to namespaces.

Our Laravel app is organized as follows:

[code]

We created our mappings files using console command:

`php artisan doctrine:map

[2016-04-13 15:12] GiorgioZett commented on #142
local apache and apache server means my local apache instance, so just one apache instance.
I mean when I use built-in apache server (artisan) all works fine.
If I add alias to apache, to serve laravel app by apache, the first DQL query is broken, with the stack trace I paste in the first message .
I tried to run dump-autoload, but nothing change.
Is there a better (or correct) solution to serve l

[2016-04-13 16:53] FoxxMD commented on #142
I have a feeling this is your problem.

So, correct me if I'm wrong, your app structure looks like this?

[code]

Try having your alias point to `backend/ngtem/public/`. I know there is a `server.php` file in the root dir but I'm fairly certain `artisan serve` is setting its base in `public/`.

Also, ensure you have psr-4 or psr-0 configurations setup correctly in `composer.json`.

Btw, you should

[2016-04-14 07:23] khlipeng commented on #101
in bootstrap/app.php add:

$app->alias('cache', 'Illuminate\Cache\CacheManager');
$app->alias('auth', 'Illuminate\Auth\AuthManager');

[2016-04-14 07:27] patrickbrouwers commented on #101
@khlipeng those aliases shouldn't be necessary anymore. It was fixed in November and shouldn't be a problem anymore.

[2016-04-14 12:17] jaccoTopVintage commented on #141
The mapping file extension mismatch is due to the use of the `XML` driver

[code]

The XML driver expects two things (both of which are currently not supplied by the `mappings:import` console script):
- generated files should have the extension: `.dcm.xml`,
- generated files should have their namespace prefixed to the filename, for example: `App.Entities.Nnnnnnnnnnnnn.dcm.xml`

---

When using the

[2016-04-14 12:27] jaccoTopVintage opened #143 "[BUG] Cannot use entity files or create entity files from imported mappings files"
### Package version: 1.1, Laravel version: 5.2
### Expected behaviour

[code]
### Actual behaviour

[code]
### Steps to reproduce the behaviour
- Setup a new Laravel project.
- In the configuration file `config/doctrine.php` make sure the following lines are set as shown below:

[code]
- Create the following additional file structure:

[code]
- create mappings files from an existing database using

[2016-04-14 12:44] jaccoTopVintage commented on #143
## Additional information

I think there needs to be a change to a Doctrine class to accommodate the use of mapping files (`.xml`/`.yml`) for Doctrine when used in combination with Laravel.

More specifically, in file [`Doctrine/Common/Persistence/Mapping/Driver/FileDriver.php`](https://github.com/doctrine/common/blob/v2.6.1/lib/Doctrine/Common/Persistence/Mapping/Driver/FileDriver.php):

**Curren

[2016-04-14 13:39] jaccoTopVintage commented on #143
## Additional Issue

In addition to the issue listed in the OP, the change as described in the 2nd post is also required to _use_ the entity files.

**In other words, without the proposed change, it is seems to be impossible to use `xml` or `yaml` files with Laravel.**

If there turns out to be a some way of using mapping files without the changes to the Doctrine/common file, I would be very happy

[2016-04-18 10:09] jaccoTopVintage commented on #143
Finally found the solution to this issue:

It seems the automatically generated mapping files need more manual editing before the can be used.
The `name` attribute for the `entity` tag in the XML mappings file needs to be prepended with the namespace:

**autogenerated**
`<entity name="Nnnnnnnnnnnnnn" table="Nnnnnnnnnnnnnns">`

**required**
`<entity name="App\Entities\Nnnnnnnnnnnnnn" table="Nnnnnnn

[2016-04-20 12:49] cniska commented on #93
Maybe you could add a fixture command similar to ours at https://github.com/nordsoftware/lumen-doctrine/blob/develop/src/Console/FixturesLoadCommand.php

[2016-05-04 16:16] drsect0r opened #146 "[QUESTION] Driver [] not supported."
Got the following exception after following the installation located at http://www.laraveldoctrine.org/docs/1.1/orm/installation.

[code]

[code]

[2016-05-07 16:10] rannien commented on #101
@patrickbrouwers yes but this 'bug' is still exists, I have a fresh lumen installation and I am still getting that error without the app.php fixes

[2016-05-07 16:11] patrickbrouwers commented on #101
Then you are on an old version. I'm using Lumen 5.2 myself with redis cache enabled.

[2016-05-07 16:16] rannien commented on #101
I'm using v5.2.6 lumen
![screenshot 4](https://cloud.githubusercontent.com/assets/2854597/15093178/de6c9cc4-147f-11e6-9ebb-92d84b46267b.png)

[2016-05-07 16:17] patrickbrouwers commented on #101
I was referring to the Laravel-Doctrine package

[2016-05-07 16:18] patrickbrouwers commented on #146
Can you show me your doctrine.php config

[2016-05-07 16:18] rannien commented on #101
Ah, sorry I misunderstood

[2016-05-09 08:23] appkr opened #147 "[QUESTION] Example project?"
Is there a complete example (Github repository) that I can understand how to use this project? That would be super helpful to get started quickly.

I've been reading the document and tried to follow along for more than 24 hours, but was not successful even implementing simple CURD with mysql. ): I think that is because I don't have experience in Doctrine~

[2016-05-09 08:24] patrickbrouwers commented on #147
https://github.com/laravel-doctrine/Laravel-Doctrine-Quickstart

It's also advisable to follow some tutorials about Doctrine to get your head around the concept.

[2016-05-09 09:31] appkr commented on #147
Thank you! I'll study it this night and update the fact how it helped.

[2016-05-09 11:56] appkr commented on #147
I went through the diff. Now I start understand the usage. Thanks a lot!

[2016-05-09 11:56] #147 closed, assigned to nobody

[2016-05-10 06:08] appkr opened #148 "[QUESTION] Class users does not exist in .../.../IlluminateRegistry.php:330"
I'm palying around with the QuickStart project. While testing, I got following error. Help me~
### Package version, Laravel version

Tested against two versions.
- Laravel Framework version 5.1.21 (LTS)
- Laravel Framework version 5.2.31
### Steps to reproduce the behaviour

[code]

[code]
### Stack Trace

[code]

[2016-05-10 07:36] patrickbrouwers commented on #148
It seems the validator in `postRegister` refers to the table `users` rather than the entity `User::class`. Make sure in your unique/exists validation rules you refer to the FQN of the entity rather than the table name.

[2016-05-10 08:07] appkr commented on #148
Yeah!! You are right~ You are my best friend. Tested at `laravel/laravel:5.2.31` and `laravel/framework:5.2.31`.

[code]

Testing password reset is my next itinerary. I'll post another question, if there is one. Hope you don't mind. Thanks for help!

[2016-05-10 08:07] #148 closed, assigned to nobody

[2016-05-10 08:13] patrickbrouwers commented on #148
No problem, you can also join on Slack btw! http://slack.laraveldoctrine.org/

[2016-05-10 09:23] appkr commented on #148
Thanks for inviting me to the Slack channel. I'll be there soon.
One update is that password reset seems working with minor change.

[code]

[2016-05-11 04:48] appkr opened #149 "Unknown column type "carbondatetime" with "fluent" driver"
Hi again? I got another problem.
### Package version, Laravel version

Laravel Framework 5.2.31
### Expected behaviour
### Actual behaviour

[code]
### Steps to reproduce the behaviour
- No problem with `'meta' => 'annotations'` in doctrine.php
- Change the setting to `'meta' => 'fluent'` and add `'mapping_types' => ['carbondatetime' => 'datetime']`
- And then issue a command `$ php artisan doctri

[2016-05-11 05:47] appkr commented on #149
Just forget it! I will not use fluent but stick to annotations. I just forgot my main mission: make DB2 work with Laravel. Annotations works good and that's fine to me. Sorry for annoying you.

[2016-05-11 05:47] #149 closed, assigned to nobody

[2016-05-11 09:04] patrickbrouwers commented on #149
If you want to use Carbon, you need to enable the extension:

http://www.laraveldoctrine.org/docs/1.1/extensions/custom-functions

[2016-05-11 11:02] appkr commented on #149
Thanks for the answer. I tried but was not successful. I would not go further for the fluent.

Anyway I and my team are supposed to do a project for public sector for a couple of month. The customer's requirement is Laravel and DB2(why why why 😁).

While searching the Internet, I met laravel-doctrine, seems that it is the only doable solution. Untill now I was studying the feasibility. I think I'l

[2016-05-11 13:42] patrickbrouwers commented on #149
I'm using `->timestamp()` myself in several projects with Fluent. If you enable Carbon extension or alternatively use `->dateTime()`, I'm sure it works just fine.

[2016-05-11 15:33] appkr commented on #149
[EDIT] What is 'Carbon extension'? Where can I find and activate it?
[EDIT2] Solved! Now I like fluent.

Thanks friend. I'll try it again tomorrow. By the way do you prefer fluent over annotation? I don't like annotation either(not familiar with). Can I ask why?

[2016-05-20 16:22] drsect0r commented on #146
@patrickbrouwers I tried to replicate and it is working now.

[2016-05-20 16:22] #146 closed, assigned to nobody

[2016-05-26 17:29] guiwoda commented on #143
@jaccoTopVintage there is a `namespace` configuration key. Would you mind testing your xmls _without_ the namespace, and your `doctrine.php` file with them instead?

[code]

[2016-05-26 17:49] guiwoda commented on #142
@GiorgioZett Can you paste your DQL as well?

Is your entity on namespace `App\Entities` or `app\Entities`? Because the error says it's trying to look for (lowercase) `app\Entities\Accesi`

[2016-06-06 07:53] jaccoTopVintage commented on #143
just dropping a note to mention I've not forgotten this issue and will try adding the `namespaces` config key, as soon as I've time to do so (but: quite busy at the moment).

[2016-06-07 20:38] Jacco-V opened #151 "[BUG] Configuration for mappings path ignored by mappingsImportCommand"
### Version Info

Package v1.1.10,
Laravel v5.2.
### Expected behaviour

Having specified my `config/doctrine.php` file as follows (petty much the unchanged from the default):

[code]

I would expect the console command: `php artisan doctrine:mapping:import` to write the mapping information into the directory: `database/mappings/NameOfTable.orm.xml`
### Actual behaviour

Because in [MappingImportC

[2016-06-07 22:04] jaccoTopVintage commented on #143
Ok,

I've tried your suggestion, but to no avail. In fact, I've lots of combinations for the configuration settings, but none give a working result (see bottom of post for log).

The easiest method I found to make the error go away is to manually edit each created mapping file. But since more than 100 tables, it is not very convenient so to say.

The file as created by the command `php artisan doc

[2016-06-08 16:52] chancezeus opened #152 "[QUESTION][BUG] Laravel Doctrine inside a Job (when running the listener as a daemon using supervisord)"
### Package version

1.1.8
### Laravel version

5.2.22

I'm currently working on a project where I need to be able to offload a couple of commands using the queue runner and jobs.
In another project I worked on previously I ran into issues where it was impossible to do so using the laravel-doctrine, because after a while (when the jobs had little to no work to do) the database timed out and discon

[2016-06-08 16:53] patrickbrouwers commented on #152
Take a look at this package made by @maxbrokman https://github.com/maxbrokman/SafeQueue  I think it solves this problem.

[2016-06-08 17:12] chancezeus commented on #152
Nice one, the only thing I notice it that it actually relies on the fact that an `EntityManager is closed` exception is being thrown and restarting the worker. This is a way to handle the problem, but in my opinion there should be an option to handle this using Doctrine/the EntityManager itself and not by restarting the worker.

As a way to look at it:
**The proposed solution**
You have a car that

[2016-06-08 17:55] patrickbrouwers commented on #152
@maxbrokman

http://stackoverflow.com/questions/14060507/doctrine2-connection-timeout-in-daemon

[2016-06-08 18:17] chancezeus commented on #152
Thanks :) I'll give it a try

[2016-06-08 18:18] patrickbrouwers commented on #152
Actually I think the package already does what you need:

https://github.com/maxbrokman/SafeQueue/blob/master/src/Worker.php#L86

Before every job is executed, it makes sure the connection is running. If not, it will re-connect.

[2016-06-09 19:11] Jacco-V opened #153 "[BUG] --filter for doctrine:mapping:import command does not accept a value"
### Package version, Laravel version

Package v1.1.10,
Laravel v5.2.

When trying to import a specific table by using doctrine's --filter argument, the argument fails because it does not accept any value
### Expected behaviour

[code]
### Actual behaviour

[code]
### Steps to reproduce the behaviour

type the above mentioned command

[2016-06-09 19:11] patrickbrouwers commented on #153
https://github.com/laravel-doctrine/orm/pull/150

[2016-06-09 19:11] #153 closed, assigned to nobody

[2016-06-09 19:20] Jacco-V opened #154 "[BUG] Generate entities command does not resolve path correctly"
### Package version, Laravel version

Package v1.1.10,
Laravel v5.2.
### Expected behaviour

if I run command `doctrine:generate:entities`, I expect the generated entities to be written to

[code]
### Actual behaviour

When using the `doctrine:generate:entities` command, the resulting entities get written in wrong path location:

[code]

Which _looks_ ok, **but...** in reality, the files end up in

[2016-06-09 19:29] patrickbrouwers commented on #154
Just tested it (and used it before) for me it works like expected.

Could you debug why it goes wrong here: https://github.com/laravel-doctrine/orm/blob/1.1/src/Console/GenerateEntitiesCommand.php#L55

If you find anything let us now, so we can improve this.

[2016-06-09 19:32] patrickbrouwers commented on #151
Please make a PR for these changes.

[2016-06-09 19:41] Jacco-V commented on #143
Ran into the same issue

The problem seems to be twofold:
1. Laravel-Doctrine ignores the `namespaces` directive in the `/config/doctrine.php` config file.
2. When the `--namespace=` command line argument is specified (as described by @jaccoTopVintage <sup><sub>(nice name btw)</sub></sup> above) the namespace is both prepended to both to the file name (_wrong_) and the entity name in the XML file

[2016-06-09 20:22] Jacco-V commented on #154
I'll see if I can find the source of the issue.

edit: made pull request.

[2016-06-17 16:40] patrickbrouwers commented on #154
I debugged this myself and concluded that nothing is wrong with the current implementation and that the result you are seeing is correct behaviour.

The command will check the namespaces of your entities and will create the required paths. With dest-path you can set the wanted destination path.

Your example will only work if your path is perfectly aligned with your namespace.
`/app/Entities` vs `

[2016-06-17 16:40] #154 closed, assigned to nobody

[2016-06-17 16:43] patrickbrouwers commented on #152
@chancezeus any news on this?

[2016-06-17 16:52] patrickbrouwers commented on #151
Closing this for now (see PR). Might revisit this in the future (major release). For now I think using the {dest-path} argument is good enough.

[2016-06-17 16:52] #151 closed, assigned to nobody

[2016-06-17 17:02] maxbrokman commented on #152
@chancezeus I think I've changed it since you last looked at it, it now checks if the EM is open before working a job.

I'll probably get the package to a tagged version in the near future

[2016-06-17 17:20] patrickbrouwers commented on #143
Just tested this myself:

`php artisan doctrine:mapping:import xml database/mappings --namespace=App\\Entities\\`

(Note the backwards slashes)

In `database/mappings/App.Entities.Table.orm.xml`:

[code]

Generating entities only works if I change `.orm` to `.dcm`: entity got created with namespace.  It seems the original Symfony command doesn't have `dcm` as default. For `SimplifiedXml` this is t

[2016-06-17 17:20] #143 closed, assigned to nobody

[2016-06-17 17:22] #142 closed, assigned to nobody

[2016-06-17 17:34] patrickbrouwers commented on #141
It indeed seems the mapping import uses `orm` in favour of `dcm`, which probably has to do with the fact the command has been ported from Symfony.
This issue will be fixed with: https://github.com/laravel-doctrine/orm/commit/d2b647a3b95c243c01755a5027585e4f1238f532

[2016-06-17 17:34] #141 closed, assigned to nobody

[2016-06-17 17:36] #140 closed, assigned to nobody

[2016-06-17 17:38] patrickbrouwers commented on #100
--filter expects a string pattern, so just users won't work I think.
In the mean time we have this command ourselves: `php artisan doctrine:convert:mapping`

[2016-06-17 17:38] #100 closed, assigned to nobody

[2016-06-23 12:29] EspadaV8 opened #162 "[BUG] Unable to select data after switching PostgreSQL Schema"
### Package version, Laravel version

1.0.21, Laravel 5.1.26 (LTS)
### Expected behaviour

After setting the `search_path` in PostgreSQL you should be able to run doctrine queries on tables within that schema.
### Actual behaviour

A `Doctrine\DBAL\Exception\TableNotFoundException` is thrown with the message

[code]
### Steps to reproduce the behaviour

We are making heavy use of the [Laravel-PGSc

[2016-06-23 12:49] guiwoda commented on #162
Hi @EspadaV8, thanks for your report!
Unfortunately, LaravelDoctrine does not share the connection with Laravel's `DB` facade, so when `PGSchema::switchTo` sends the `SET search_path` command to Postgres, it sends it on a connection that Doctrine _is not using_.

As you can read in [postgres docs](https://www.postgresql.org/docs/9.1/static/sql-set.html):

Possible solution:

Drop your dependency c

[2016-06-23 12:52] EspadaV8 commented on #162
Ah, okay. I read that it uses the same connection as the rest of Laravel, I guess that just meant it uses the same connection details?

[2016-06-23 12:52] patrickbrouwers commented on #162
Yes, it only shares the connection details, not the actual PDO connection.

[2016-06-23 13:09] EspadaV8 commented on #162
Okay then, that makes sense then 😄 Thanks for the information. I might see if I can either improve the package to also support this package or see about creating something to replace it that does work here.

Thanks again :-)

[2016-06-23 18:09] patrickbrouwers commented on #162
@EspadaV8  I discussed this a bit with @guiwoda and we found a possiblity to share the connection between Laravel and Doctrine.

Perhaps you could try out this branch and see if it fixes your problem: https://github.com/laravel-doctrine/orm/tree/feature/share-laravel-pdo-connection. Please let us know :)

[2016-06-29 10:22] maxbrokman commented on #162
@patrickbrouwers I think sharing the connection could have other potential benefits, potentially simplifies logging?

We currently have two audit logs set up that that record all write queries to a file, one for each connection. Perhaps this would make it simpler (not looked at / tested the code)

[2016-06-29 10:23] EspadaV8 commented on #162
@patrickbrouwers Hi. Sorry for the delay. I've not had chance to check that branch out yet but as soon as I get some time I will absolutely give it a go and let you know how it goes. Thanks

[2016-06-29 13:51] josenicomaia commented on #149
Sorry for the late answer. I guess that you are missusing `mapping_types` directive.
The key is the database type and the value is the doctrine type.

![image](https://cloud.githubusercontent.com/assets/1703754/16454593/b4da8718-3de7-11e6-9a90-d4569b1ef3d4.png)
http://doctrine-orm.readthedocs.io/projects/doctrine-dbal/en/latest/reference/types.html#mapping-matrix

When doctrine reads the data from

[2016-07-01 13:44] boedy opened #164 "[1.1] [BUG] Migration package not compatible on lumen 5.2"
### Lumen 5.2. | ORM 1.1

**Packages:**
"php": ">=5.5.9",
"laravel/lumen-framework": "5.2._",
"vlucas/phpdotenv": "~2.2",
"laravel-doctrine/orm" : "1.0._",
"laravel-doctrine/migrations" : "1.0.*",

**Fatal Error**

[code]
### Steps to reproduce the behaviour

The following commands are broken:
- doctrine:migrations:migrate
- doctrine:migrations:rollback

They throw the above error.

[2016-07-01 13:52] patrickbrouwers commented on #164
Tested on Lumen 5.2, cannot reproduce. I'm afraid this syntax error is in your own code.

[2016-07-01 13:56] josenicomaia commented on #164
Could it be your PHP version?

[2016-07-01 14:08] boedy commented on #164
Weird. Got resolved after downgrading 1.0 => upgrading 1.1.

Probably some 3rd party package which broke it.

[2016-07-01 14:08] #164 closed, assigned to nobody

[2016-07-08 11:25] stefanheimann opened #165 "[QUESTION] Laravel 5.2 Auth"
Hy guys,

I tried to setup Laravel 5.2 Auth with laravel-doctrine as described in the [guide](http://www.laraveldoctrine.org/docs/1.1/orm/auth), but I'm constantly running into the same error. I'm using fluent for the mappings.

`FatalErrorException in Container.php line 698:
Maximum function nesting level of '100' reached, aborting!`

Here are my settings:

**config/doctrine.php**

[code]

**conf

[2016-07-08 18:00] patrickbrouwers commented on #165
I'm using it with L5.2 and Fluent without any problems. Your settings look fine.

Try adjusting your `Maximum function nesting level` setting of xDebug in php.ini a big higher.  I personally have it set to `-1` to just ignore it.

[2016-07-09 08:31] skaterdav85 commented on #32
I think I might be getting the same error, but I am using Lumen.

[code]

[code]

 I'm also new to Doctrine so would appreciate any feedback.

[2016-07-09 17:10] patrickbrouwers commented on #32
If in the future anybody encounters this problem:
- auto generate (`DOCTRINE_PROXY_AUTOGENERATE`) set to true. However only do this in development! You don't want (and need) that overhead on production environments.
- `php artisan doctrine:generate:proxies` when you deploy to production.

[2016-07-10 15:32] brandonbronisz opened #166 "[Doctrine\DBAL\Exception\ConnectionException]"
[QUESTION].

im running the latest Laravel version and Doctrine version and when i run composer install i get the following error.

 `An exception occured in driver: SQLSTATE[HY000] [2002] No connection could be made because the target machine activ
  ely refused it.`

seems it has something to do when injecting a repository interface to a controller. if i remove the constructor the error goes awa

[2016-07-11 06:38] stefanheimann commented on #165
thanks, that was it. problem solved

[2016-07-11 06:38] #165 closed, assigned to nobody

[2016-07-11 18:44] patrickbrouwers commented on #166
I don't think it's related to this package or Doctrine.

Did you try googling the error? http://stackoverflow.com/questions/21987746/mysql-connect-no-connection-could-be-made-because-the-target-machine-actively

Seems like your database credentials are not correct.

[2016-07-12 04:39] brandonbronisz commented on #166
how can that be? it pulls data from the database?

[2016-07-14 09:35] maxbrokman commented on #92
I think at the least it might be worth providing replacements for Laravel's migrations, transactions and `seeInDatabase` helpers

[2016-07-20 13:55] josenicomaia commented on #93
What about injecting the EntityManager instead? The __construct DI keeps working.

[code]

[2016-07-20 14:03] patrickbrouwers commented on #93
You can indeed, but it gives some overhead. Inserting an array of data is faster.

[2016-07-20 15:53] josenicomaia commented on #93
Hmm. I got it.

[2016-07-24 12:17] patrickbrouwers commented on #166
Think something is wrong with your code then, it shouldn't never try and call something in the controller from the terminal and especially not on composer install. Perhaps you accidentally include it somewhere?

[2016-07-24 12:18] patrickbrouwers commented on #93
Closing this in favour of using Laravel default seeding functionality. Since 1.2.0 were are sharing the same connection with Laravel, meaning we can use all DB functionality too.

[2016-07-24 12:18] #93 closed, assigned to nobody

[2016-07-24 12:18] #152 closed, assigned to nobody

[2016-07-24 12:19] patrickbrouwers commented on #162
Closing this. 1.2.0 should support this now, as we are sharing the connection with Laravel. If not any errors pop-up related to this package, please reopen the ticket.

[2016-07-24 12:19] #162 closed, assigned to nobody

[2016-07-24 12:20] patrickbrouwers commented on #91
No longer necessary since 1.2.0

[2016-07-24 12:20] #91 closed, assigned to FoxxMD

[2016-07-24 12:21] patrickbrouwers commented on #92
Should no longer be necessary since 1.2.0, as we share the connection with Laravel. If anyone needs something extra, please submit a PR for some doctrine testing trait :)

[2016-07-24 12:21] #92 closed, assigned to nobody

[2016-07-31 16:20] dave-redfern opened #173 "[1.2][Bug] IlluminateRegistry creating duplicate manager references"
### LaravelDoctrine 1.2.2 on Laravel 5.2.*
### Expected behaviour

Running the Doctrine commands should result in single set of output e.g.: doctrine:info one set of entities per configured EntityManager.
### Actual behaviour

Both default and (in this instance) MySQL are being bound to IlluminateRegistry during setup. This leaves 2 manager instances for the same set of Entities. 1.1.\* is unaffec

[2016-07-31 17:50] patrickbrouwers commented on #173
Hey, thanks for noticing. In theory it shouldn't be a big issue as it's just a duplicated reference to the EM object. We need this alias to retrieve the EM for the password reset / failed job handling. I'll have a look this week to improve this, so it won't show as duplicated anymore.

[2016-07-31 19:33] dave-redfern commented on #173
How about adding extra configuration to the main doctrine.php for jobs/password reset tables? That way it can be configured and suitable defaults set. Something like jobs => [ connection => default ] or similar.

[2016-08-01 11:18] patrickbrouwers commented on #173
Laravel has a config setting for that, but the naming is not 100% compatible with LD, as it refers to the connection name not the manager name.  That was the reason for a alias. Perhaps a doctrine config setting will be less of a hassle.

[2016-08-01 16:10] dpgover commented on #173
For us, having this duplicated manager is making the commands like d:s:u or even the creation of the schema executing twice (and failing).

1.1.13 works fine, 1.2 breaks the commands :sob:

[2016-08-01 16:38] dave-redfern commented on #173
@dpgover I was afraid that duplicate execution would be a side-effect. If downgrading to 1.1.X is not doable, you could patch the ORM\IlluminateRegistry (as I mentioned); but you'll lose that on any update so it's not an ideal "fix".

[2016-08-01 16:38] patrickbrouwers commented on #173
Guys, don't worry. It will be patched today.

[2016-08-01 16:39] dave-redfern commented on #173
@patrickbrouwers Ping me if you need some testing; today is a public holiday for me so I have time ;)

[2016-08-01 16:39] dpgover commented on #173
We downgraded to 1.1.13. It's not a problem right now.

I mentioned the problem just so you know!

Cheers.

[2016-08-01 18:09] #173 closed, assigned to nobody

[2016-08-01 18:14] patrickbrouwers commented on #173
@dave-redfern can you give v1.2.3 a go? Should be patched.

[2016-08-01 22:10] dave-redfern commented on #173
@patrickbrouwers Confirmed, duplicate output resolved...

However: generating a migration and it wants to delete the password_resets table. I think thats a separate issue though. I replaced the PasswordResetProvider, and everything else seems to be in-order, unless I missed some other config option.

[2016-08-02 22:05] patrickbrouwers commented on #173
Yes that's right. As the password_resets table and failed_jobs table are temporary tables, they will recreate themselves if they don't exist. If you want to force to keep them you could modify the filter setting (https://github.com/laravel-doctrine/migrations/blob/1.0/config/migrations.php#L45) to always keep them.

[2016-08-05 23:39] brandonbronisz opened #174 "[Question] OneToOne relation leaving relation_id NULL"
I'm trying to create a OneToOne relationship between two tables but it's filling in a NULL on `event_id` from the `event_details`  table. I have two tables. One is `events` and the other is `event_details`

EventRepository.php

[code]

Event.php

[code]

EventDetails.php

[code]

[2016-08-09 13:29] jaswdr opened #175 "[QUESTION] - ODM support ?"
Hi there, first congrats for this awesome package, this help me a lot, but have you any plan to make a laravel-doctrine-odm for the Doctrine ODM (Doctrine + MongoDB) ?

thanks.

[2016-08-09 13:31] jaswdr commented on #175
duplicate with #44

I use MongoDB in some projects, I'll start based on the currently laravel-doctrine/orm

[2016-08-09 13:31] #175 closed, assigned to nobody

[2016-08-10 17:00] patrickbrouwers commented on #44
As @jaschweder bumped this conversation in #175, it's good to update my status about ODM. I might be using it in the near future anyway. Like I said before if there's anybody who wants to help me out, please let me know. Can't promise any delivery dates, but might get there somewhere this year.

[2016-08-10 17:05] patrickbrouwers commented on #174
Can you try putting the cascade persist on the other oneToOne relation.

[2016-08-16 03:16] dave-redfern commented on #166
@kodescience can you connect to the DB from the console or via the command line (outside of PHP)? Some of the artisan commands will initialise DB connections in the console context so if it is not configured for CLI, they can fail. e.g.: artisan route:list  will actively instantiate the controller constructor. Another thing to check, are you running selinux? If so, you may need to set the security

[2016-08-20 08:35] mpallante opened #176 "[QUESTION] Migrations and transactions in tests"
Hello, I'm trying to do end-to-end functional testing but it seems that the `DatabaseTransactions` and `DatabaseMigrations` traits do not work.

I use Codeception to run all the tests and I created (for example) a `ResourceTest` in the functional suite to check that the route-controller-view flow works when I access a given resource. Of course `ResourceTest` extends `TestCase`. I'm using Sqlite as

[2016-08-30 19:49] patrickbrouwers commented on #176
Hey sorry for the late response I was on holiday.

I think you are trying to mix two things: you are trying to use Laravel testing helpers within Codeception. Codeception has a lot of great helpers on its own. I myself use Codeception to run all my intregration/functional tests without those helpers.

Codeception already does some transactions starts, so if you do the same with a trait, the db is

[2016-09-07 21:00] manticorp opened #177 "[BUG] Call to member function isAbstract on null in mappedEventSubscriber doctrine:generate:entities"
Please prefix your issue with one of the following: [BUG] [PROPOSAL] [QUESTION].
### Package version, Laravel version

1.2
5.3
### Expected behaviour

Generates entities
### Actual behaviour

Throws up the error in title
### Steps to reproduce the behaviour

run php artisan doctrine:generate:entities

This seems to be related to the following issue filed on the doctrine github:

https://github.com

[2016-09-07 21:07] patrickbrouwers commented on #177
Could you do those changes in a PR, that's easier for me to look at it / test it. Thanks.

[2016-09-07 21:09] manticorp commented on #177
Ack really sorry, this was meant for acl not orm!

[2016-09-07 21:09] #177 closed, assigned to nobody

[2016-09-08 15:24] chris-code-lab opened #179 "[BUG] No results when adding more than 2 parameters to the querybuilder"
### Package version

laravel-doctrine/orm v1.2.5
Lumen v5.2.7.
Oracle database.

[code]

If I comment any one of the where/addwhere clause, I end up with the expected result set, but if I have more than 2 parameters bound, it returns an empty array instead of 1 row.
`$queryBuilder->getParameters()` is returning all 3 parameters.
When using the 3 parameters, if I copy / paste the string returned by

[2016-09-08 17:22] patrickbrouwers commented on #179
If this indeed it goes wrong it's an issue with the parent package doctrine/orm. This package has no influence in how the query builder works.
Maybe someone on our Slack can help you, but the Doctrine IRC / github issues will most likely be a better place to ask about this.

[2016-09-08 17:22] #179 closed, assigned to nobody

[2016-09-24 18:39] #176 closed, assigned to nobody

[2016-09-24 18:39] #174 closed, assigned to nobody

[2016-09-24 18:39] #166 closed, assigned to nobody

[2016-09-25 16:35] dave-redfern opened #182 "[1.2][Bug] Notification extend is called without checking Laravel version"
### Package version, Laravel version

1.2.7
### Expected behaviour

Laravel Doctrine should continue to function on Laravel 5.2+.
### Actual behaviour

Error: [ReflectionException] Class Illuminate\Notifications\ChannelManager does not exist because Laravel 5.2 does not have the notification manager.
### Steps to reproduce the behaviour

Use 1.2.7 with Laravel 5.2.X.
### Suggested fix

In Doctrine

[2016-09-25 18:05] #182 closed, assigned to nobody

[2016-09-26 11:55] dave-redfern commented on #182
@patrickbrouwers confirm fixed, thanks! 👍

[2016-09-26 12:09] patrickbrouwers commented on #182
Nice, thanks for notifying me :)

[2016-09-30 19:48] joaoeduardo opened #183 "[QUESTION] Can't insert. Coding error with accents."
Hi.

I am trying to save some entities to database, but I get this error.

[code]

Here ir my code:

[code]

[code]

Am I doing something wrong?

Thanks.

[2016-10-01 13:04] patrickbrouwers commented on #183
Maybe this question can better be asked at Doctrine self (github or IRC). We can try to help you at our Slack, but I think the Doctrine dev's will be more likely to be able to help you.
Perhaps it has something todo with the charset of your database?

[2016-10-01 13:26] joaoeduardo commented on #183
I asked here because I thought that error was caused by some configuration that I forgotten to do. I didn't touch on database settings file. Thanks by attention.

[2016-10-01 22:57] patrickbrouwers commented on #183
I can't think of amy doctrine setting doing that. My guess would be a database setting like the wrong charset. Let me know if you figure it out.

[2016-10-02 17:08] chay22 opened #184 "[QUESTION] Custom mapping type carbondatetime never synced."
Spent some hours learning doctrine and this package, reading some chapters of docs and whatnot, then going to use `carbon` as exactly shown here, https://github.com/laravel-doctrine/orm/issues/149

[code]
### Package version, Laravel version

laravel-doctrine/orm: 1.2.8
laravel/framework: 5.3.15
laravel-doctrine/fluent: 1.1.3
### Expected behaviour

When `mapping_type` left as is, console `doctrin

[2016-10-02 19:53] patrickbrouwers commented on #184
Hey, thanks for using doctrine and fluent!

Just to check:
- did you include the extensions package?
- if you fetch a record in doctrine and `dd($user->created_at)` does it return a Carbon instance?

(Tip: you can also use the `->timestamps()` extension for `created_at` and `updated_at`, it will auto fill them on persistance. (See extensions docs: http://www.laraveldoctrine.org/docs/1.2/extensions

[2016-10-03 22:00] jaswdr commented on #44
@patrickbrouwers I'm interessed to help on ODM, you has started some repository on Github ? call me if soo :)

[2016-10-04 12:11] joaoeduardo commented on #183
I am closing this issue. I think that I did some mistake. I made a simple example to try to insert a entity with accents in some properties, and it worked. Sorry for the inconvenience.

[2016-10-04 12:11] #183 closed, assigned to nobody

[2016-10-04 13:13] patrickbrouwers commented on #44
@jaschweder Thanks for the offer. No, I haven't yet. Did you already join our Slack?

[2016-10-04 14:35] joaoeduardo commented on #183
A addendum: recently I switched from Linux to Windows, and started to use Eclipse instead Sublime. But, in Windows, the default Eclipse charset isn't UTF-8. This caused the error.

[2016-10-04 16:50] jaswdr commented on #44
@patrickbrouwers currently no, can you pass the link ?

[2016-10-04 17:44] josenicomaia commented on #44
http://slack.laraveldoctrine.org/

[2016-10-09 17:42] tofarias opened #185 "[QUESTION] Reusing repositories through composition"
### Package version, Laravel version

PHP 7
laravel/framework": "5.3.*
laravel-doctrine/orm": "1.2.*
### Expected behaviour

The same in "http://www.laraveldoctrine.org/docs/1.2/orm/repositories"
#### Reusing repositories through composition

![composition](https://cloud.githubusercontent.com/assets/7261216/19222404/fac6473a-8e2d-11e6-9f37-e01f0c736e16.png)
### Actual behaviour

![fatalthrowableer

[2016-10-09 19:02] tofarias commented on #185
In my "yml" file, I remove the "repositoryClass" line and works fine!

![estadoyml](https://cloud.githubusercontent.com/assets/7261216/19222899/9e78582c-8e39-11e6-860b-227a41be8bb9.png)

[2016-10-09 19:15] tofarias commented on #185
In this file I remove the line "repositoryClass" and works fine!

![estadoyml](https://cloud.githubusercontent.com/assets/7261216/19222999/7182cd0a-8e3b-11e6-8e6d-7f213b889ee9.png)

[2016-10-09 19:15] #185 closed, assigned to nobody

[2016-10-12 15:29] #184 closed, assigned to nobody

[2016-10-16 20:52] Evertt opened #187 "[PROPOSAL] Add router extension for implicitly binding doctrine entities"
First of all, I would have loved to discuss this first on Slack, but I can't access [the link](http://slack.laraveldoctrine.org/).

Anyhow, since Laravel 5.3, the framework implicitly binds all Eloquent models to routes, if the name of the route-parameter and the variable match up. For for example like this:

[code]

It would be possible to build a router extension which does the same for Doctrine

[2016-10-16 20:56] Evertt opened #188 "[PROPOSAL] Add router extension to automatically serialize returned entities"
In Laravel, when you return an eloquent model from a controller-method or a closure, the router will automatically make sure that it's serialized. Like this:

[code]

I would like to have a router-extension which does the same for Doctrine models. This proposal, together with the other one I made (#187), can help make the code as beautiful as it now is with Eloquent models.

[2016-10-16 22:09] Evertt opened #189 "[request] integration with laravel passport"
The title says it all. We need a replacement for the `Laravel\Passport\HasApiTokens` trait for example.
## edit

or would this better fit in the extensions repo?

[2016-10-17 09:58] maxbrokman commented on #188
Automatic serialization of Doctrine entities makes me a bit uncomfortable. It certainly makes more sense for Eloquent because a model is a simple mapping to a database row (with a little bit of type coercion). But for Doctrine it's possible to have more complex relationships with arbitrary nested objects (embeddables etc).

If you were to do this it should check for `Jsonable` before trying to do

[2016-10-17 10:00] maxbrokman commented on #187
If LD already supports model binding I don't see why not.

We'll have to get the slack link fixed!

[2016-10-17 10:12] patrickbrouwers commented on #188
You can use the trait (https://github.com/laravel-doctrine/orm/blob/1.2/src/Serializers/Jsonable.php), but I would really advise against coupling your API response to your entities. Consider using transformers (like Fractal) instead.

[2016-10-17 10:13] patrickbrouwers commented on #187
Guess we can support it. Not really a high priority for me though, so PR would be appreciated.

[2016-10-17 11:08] Evertt commented on #188
To be honest I'm not so experienced with Doctrine. I only worked with it in one project, using Symfony, but all the setup was done by another guy. Anyhow, in that project all the serialization was configured by YAML files. So I figured, we could do a similar thing here, right?

By that I mean, have some configuration somewhere, where you define how every entity should be serialized. And then in yo

[2016-10-17 11:10] patrickbrouwers commented on #188
Not YAML, but more or less the same end-result: http://fractal.thephpleague.com/

I would go for explicit transformations rather than depending on some magic (sucks to debug).

[2016-10-17 18:13] patrickbrouwers commented on #189
I have looked into it just after it was released and it seemed like a lot of work. (Maybe I'm wrong). I currently don't need it myself and I'm very busy at the moment. If anybody wants to PR it, I'm happy to setup a repository for it.

[2016-10-18 10:09] Evertt commented on #187
Just to give you a bit of an update. I've been able to fulfil both of my own requests about the router. The code is far from pretty, but at least it works. I wonder if you guys like the code in principle, because if you do then I'm willing to try to make it look prettier.

Here's what I got so far:

[code]

[2016-10-18 11:42] patrickbrouwers commented on #187
I don't think it's a good idea to extend the Router to be honest.
It's stupid how much they coupled it. I think a better approach is to offer an alternative middleware. (Instead of https://github.com/laravel/framework/blob/5.3/src/Illuminate/Routing/Middleware/SubstituteBindings.php)

The prepare response stuff we won't ever supply in Laravel Doctrine package. That's fits better in an own middlewa

[2016-10-21 07:03] n-singularity opened #190 "[QUESTION] How Generate Entities from an Existing Database?"
Hy guys,

I tried to generate entities from an existing database use symfony tutorial. But syntax "doctrine:mapping:convert" is not defined.

is there any other way to do that?

[2016-10-21 09:44] patrickbrouwers commented on #190
For starters this is not a Symfony package :) So we don't apply to the same syntax.

I think you are looking for `php artisan doctrine:mapping:import`

[2016-10-21 10:48] n-singularity commented on #190
I tried `php artisan doctrine:mapping:import` and i get XML files, so i need to change from XML files to Entities.

is there any other syntax to do that?

[2016-10-21 16:40] patrickbrouwers commented on #190
`php artisan help doctrine:mapping:import` will show you the options.

[code]

`mapping-type` defaults to `xml`, but you can set it to the driver you want.
If you want to generate entities from xml/yaml, you can use the `doctrine:generate:entities` command.

[2016-10-22 13:05] n-singularity commented on #190
`doctrine:generate:entities` only recognize php files. have I missed something?

[2016-10-26 08:21] eigan opened #192 "[BUG] LaravelDebugbarLogger::register() is not called on "/assets/javascript" debugbar route"
### Package version, Laravel version

Laravel: 5.2.45
LaravelDoctrine: 1.2.8
### Expected behaviour

The "sqlqueries/widget.js" file should be included in [JavascriptRenderer](https://github.com/barryvdh/laravel-debugbar/blob/master/src/JavascriptRenderer.php)::[getAssets](https://github.com/maximebf/php-debugbar/blob/master/src/DebugBar/JavascriptRenderer.php#L584)("js").
### Actual behaviour

It

[2016-11-02 16:59] ghost commented on #189
For a project of mine I have partially ported passport to doctrine... At least password grants and authentication works, but not much more as of now. Also, I am quite unexperienced with laravel...
I could publish it, so we could work on this together.

But a short disclaimer: It was impossible to reuse anything from passport. More or less, I just copied the source and manually changed everything t

[2016-11-05 19:01] patrickbrouwers commented on #189
@christiandreher if you can share the repo through your own github, I can have a look if it's in the right direction :)
Ping me on our slack.

[2016-11-05 19:08] ghost commented on #189
@patrickbrouwers All right, I will try to do that on monday. Thanks for the response

[2016-11-07 12:46] avdarie commented on #190
I have same problem. i need to install fluent package to work that ?
I did:
`php artisan doctrine:mapping:import`  --> that creates  xml files in \app\Mapping\ with all mapping information from DB .
When i will create entities with command:
`php artisan doctrine:generate:entities`  --> Not found any Mapping.

Maybe I need to configure something in doctrine.php ?

Thanks !

[2016-11-07 13:08] avdarie commented on #190
Hi,
I solved the problem ...
`php artisan doctrine:mapping:import annotation` create in annotation type. Mapping a php class with annotation.
`php artisan doctrine:generate:entities` recongize all entities and create setter and getters...
If  mapping is in another type ex (yaml,php or xml) generate:entities not work ...

But you need to be carefully because rewrite all entities ...

[2016-11-11 15:24] loiclavoie opened #193 "[QUESTION] Why generated entity have no namespace defined within them?"
In the laravel framework (that I'm still learning), everything under app is defined within the namespace App/ (basically, PSR-4 autoloading logic).

When I generate my entities for the legacy database I'm working with at the moment, I've used the mapping import  with the appropriate configuration and parameter to generate my yml  file.
`clear;php artisan doctrine:mapping:import --em=myEm yml ./pat

[2016-11-13 02:02] Sztukmistrz opened #194 "QUESTION or reflection... FatalErrorException in ResetsPasswords.php line 102:"
laravel-doctrine/orm": "1.2.*, "laravel/framework": "5.3.*"

Restet password

I stayed for longer on unpleasant message. I tried to reset the password for the user. An error occurred!?:

[code]

I did everything according to instructions ... or perhaps I did not.
It looks as if at that moment acted Eloquent?

So I created function in: App\Http\Controllers\Auth\ResetPasswordController

[code]

----

[2016-11-14 12:11] patrickbrouwers commented on #194
You indeed can't completely reuse the trait inside the  ResetPasswordController as it is coupled to Eloquent.

The way you solved it, is correct.

[2016-11-14 12:11] #194 closed, assigned to nobody

[2016-11-14 12:14] patrickbrouwers commented on #193
If you want the entities to have a namespace, you will have to use the `--namespace` option. This is expected behaviour.

[2016-11-14 12:14] #193 closed, assigned to nobody

[2016-11-14 12:15] patrickbrouwers commented on #192
Hm, I have seen the debugbar working before. Will have to check.

[2016-11-17 12:56] Sztukmistrz commented on #194
Thank you very much for the advice.
Thank you also for your work and the possibility to use it in my own projects!
Grateful forever. Christopher.

[2016-11-17 18:54] loiclavoie opened #196 "[PROPOSAL] Entity Generator --no-backup option"
### Package version, Laravel version
5.3
### Expected behaviour
When running the command, the option --no-backup shouldn't expect a parameter.  It should be, if present, false, otherwise true.
### Actual behaviour
At the moment, this line put True when --no-backup is present
`$entityGenerator->setBackupExisting(!$this->option('no-backup')); `
(GenerateEntitiesCommand.php:81)
So when the command is

[2016-12-01 13:39] stefanheimann opened #197 "[QUESTION] Laravel 5.2 Artisan Command and laravel-doctrine"
### Package version, Laravel version
laravel/framework": "5.2.*"
laravel-doctrine/orm: "1.1.*"

### Behaviour
If I'm using a laravel-doctrine repository method (findAll) inside a laravel console command, it doesn't fetch all entity properties. Using the same method inside a web route, the entitiy is fully populated.

Does anybody have a clue what have to be done that laravel-doctrine is fully work

[2016-12-14 14:29] jakub-klapka opened #199 "[PROPOSAL] State support for entity Factory"
Hello,
with laravel/framework 5.3.17, they have added states to model factories. It would be nice to have this adopted in orm, since it is similar to defineAs functionality. States would be just more familiar to Laravel users and they have one advantage compared to defineAs - you can stack them up.

States are described here: https://laravel.com/docs/5.3/database-testing#writing-factories
The main

[2016-12-20 17:29] ing200086 opened #201 "[BUG] Laravel's Internal acceptance testing doesn't allow eager loading."
I am like Doctrine's data mapper arch, and I am running through the getting started tutorial. With laravel I found an issue when trying to do eager loading of relationships. Is this a known bug, and is there a work around? I don't like the idea of not testing the end-points of my API. Any help would be appreciated.

I am providing my repository for ease.
    https://github.com/ing200086/laravel-do

[2016-12-20 17:33] maxbrokman commented on #201
Could you provide a bit more detail sorry? Not sure what exactly isn't happening and where, a link to a test and a description of what you expect to happen and what happens would be good.

[2016-12-20 17:42] ing200086 commented on #201
Sure. In the code I provided in the repository there are 3 main entities: User, Product, Bug.

I used laravel to create a simple api where when I go the URI api/v1/user.

In Chrome it creates the result
[code]

In the tests/acceptance/api/UserTest.php I attempted to test this recreate this with Laravel's automated testing but the resulting response to the same call is

[code]

This tells me that s

[2016-12-20 17:53] maxbrokman commented on #201
You're not actually eager loading the [bugs](https://github.com/ing200086/laravel-doctrine-learning/blob/a78a6798806a6432863ed4e8fbc22b5bfe88fa6a/app/Http/Controllers/Api/v1/UserController.php#L28), they're being lazy loaded in your transformer.

They way you're using fractal is a little bit odd, look into [includes instead](http://fractal.thephpleague.com/transformers/#including-data) which could

[2016-12-20 18:03] ing200086 commented on #201
I figured I was telling doctrine to eager load in (I'm not sure how you linked to call out a line or I would) app\ORM\Mappings\UserMapping.php:L31. Is that not the intended use of the fetchEager()?

Thanks for the fractal includes link. I'll have to look into that.

I will try and update the code to have a segregated test with one user and 2 bugs. Then I'll see if I can get them out. Thanks.

[2016-12-20 19:28] maxbrokman commented on #201
Ah sorry, I didn't look at the mappings. Yes it should be eager in the `fetchAll` case I think.

Your problem doesn't immediately seem to be related to eager or lazy loading though, it should behave the same in the end.

[2016-12-20 19:30] ing200086 commented on #201
It seems to have something to do with Laravel's test framework. If I go through guzzle then in seems to work, but through laravel's framework it does not.

I am surprised that nobody has seen this before.

[2016-12-29 19:40] blacktemplar opened #202 "[BUG] Lumen overwrites validation.presence with Illuminate\Validation\DatabasePresenceVerifier"
I am trying to use the presence validation for doctrine, but I cannot use it with Lumen since it gets overwritten by the default presence provider. I am using the Lumen Framework 5.3.3.

I debugged it a little bit and the problem seems to be that registerValidatorBindings() in Laravel\Lumen\Application.php binds a function which calls register('Illuminate\Validation\ValidationServiceProvider'). In

[2016-12-30 08:42] nejtr0n commented on #187
Guys, you forgot about macroable trait to Route. We could use something like this:
[code]
And then in client code:
[code]

[2016-12-30 08:43] nejtr0n commented on #187
I think it could be default done in doctrine orm service provider by default

[2017-01-08 11:59] Toyinster commented on #189
Hi, I wondered if there was any update in this please?

[2017-01-13 00:07] dave-redfern commented on #201
It is generally a much better idea to not using eager loading, but to instead use a custom repository find method and do a fetch join. For example in the UserRepository (by the way, you shouldn't use app() in the repo, if you need a query builder, just call $this->createQueryBuilder('some_alias'), the entity manager is already loaded in the repo):

[code]

That will then load the users and all the

[2017-01-13 12:07] ghost commented on #189
@Toyinster I have published my first codebase [here](https://github.com/christiandreher/passport-doctrine), but I did not yet receive any feedback.

I will continue working on this as the requirements for my project change, but for now this is enough for me... Wish that I could invest more time in this project, but I cant, I'm sorry

[2017-01-17 10:02] oddz commented on #189
I started looking at this myself and I don't believe you need to copy the entire passport package and jerry rig the solution. I was reading through the OAuth2 docs and everything seems to be based on interfaces. If that is true than in theory all the entities can be replaced doctrine specific entities and repositories. I think that can be done via using a custom service provider instead of porting

[2017-01-17 12:18] oddz commented on #189
I need to have this for something I'm currently working on. So I have began scaffolding out a package.

https://github.com/oddz/doctrine-passport

I figure since everything uses interfaces it shouldn't be to difficult to replace the existing implementation using container interface bindings.

[2017-01-17 12:43] oddz commented on #189
I'm starting to see the problem. About 80% of the code is using eloquent without abstraction. Hmm... perhaps christiandreher has the right approach with this.

[2017-01-17 14:20] ghost commented on #189
Yes, the problem for me was that the API of the lib by phpleague is quite complex, and passport already figured out how to use it. I therefore thought that it would be the most simple, and the most save (!) approach to port it to doctrine. Passport seems to be well established...

I know that its not perfect, especially if there is a security leak or anything, but we could either implement everyth

[2017-01-17 15:22] oddz commented on #189
Yeah, the problem with yours is it really isn't a reusable package. Its really just something to reference and copy and paste into ones own project. I would like to build a complete drop in replacement and where possible reuse/extend the core passport package architecture. Although like you said that can be difficult in places due to the tight coupling with Eloquent. Either way I think that all st

[2017-01-17 15:23] ghost commented on #189
I wanted to publish it in the end for composer, so it would actually work like that, but I thought that it is more important to get the basics running instead of publishing it prematurely

[2017-01-17 19:02] patrickbrouwers commented on #189
I looked at Passport when it came out and already noticed it would be a lot of work, so didn't proceed bridging it.

I'd suggest joining our slack and ask for people's help there. Not everyone reads all github issues :)

[2017-01-17 19:05] patrickbrouwers commented on #202
Not really sure that's something we can fix in the library to be honest :(
You could try and overrule that `registerValidatorBindings` in your project and set it to the doctrine service provider.

[2017-01-17 19:06] patrickbrouwers commented on #196
Can you PR this, please. Thx.

[2017-01-17 19:06] #190 closed, assigned to nobody

[2017-01-17 19:07] #188 closed, assigned to nobody

[2017-01-17 19:09] patrickbrouwers commented on #197
Did you manage to solve it? It doesn't sound like something this package is responsible for tbh. I've successfully used Doctrine in the console before.

[2017-01-18 03:43] oddz commented on #189
Yeah, its going to be a pain in the butt. However, I think I could probably do it in like 40 – 60 hours and really need it for something I'm working on.

[2017-01-18 08:14] jakub-klapka commented on #199
Hello, can we reopen this as proposal? https://github.com/laravel-doctrine/orm/pull/198 is only quick-fix, which prevents fatal error if you already using Eloquent factories as well, but the states functionality was not implemented in this PR.

Thanks, Jakub

[2017-01-18 13:18] patrickbrouwers commented on #199
Yes sorry forgot about that :) Thanks for the reminder

[2017-01-18 15:28] SwenVanZanten commented on #189
I need it too.. perhaps I can help

[2017-01-19 00:56] oddz commented on #189
Over the next few weeks I'm going to work on it in my repo. The problem is finding the time and motivation after work.

[2017-01-19 16:34] zdnk opened #204 "Fluent - get driver and add mappings during runtime"
Hello,

my application is separated into modules. I was wondering if theres a way to add Fluent mappings in ServiceProvder registration rather then in config file as it provides more dynamic approach and ability to have modulable application.

Thanks.

[2017-01-24 11:42] SwenVanZanten commented on #187
I've created this middleware, works both for Entities as for Models.

[code]

[2017-01-24 15:16] patrickbrouwers commented on #187
@HDsign can you make a PR for that middleware? I think this is a good step in the right direction and we can discuss it there.

[2017-01-24 17:12] dave-redfern commented on #187
Just an FYI: these solutions wont work when multiple entity managers are being used as they are relying on the default manager instance.

[2017-01-24 18:03] patrickbrouwers commented on #187
That's fixable. We would just use the registry instead of the em.

[2017-01-24 18:55] elynnaie opened #206 "[QUESTION] Laravel 5.4 Support"
Now that 5.4 is out, I'm wondering if there is a timeline for support.

[2017-01-24 22:15] SwenVanZanten commented on #187
I'll make a PR

[2017-01-25 11:52] oddz commented on #189
I've began creating a package below. Thus far most time has been spent scaffolding out everything. However, anyone is free to fork and help me out with it. It doesn't work at all yet.

https://github.com/oddz/doctrine-passport/tree/master/src/Bridge/Repositories

[2017-01-29 13:10] patrickbrouwers commented on #204
You can do it this way:

[code]

[2017-01-29 13:20] #196 closed, assigned to nobody

[2017-01-29 13:21] #187 closed, assigned to nobody

[2017-01-29 13:51] patrickbrouwers commented on #206
L5.4 support released as `1.3.0`

[2017-01-29 13:51] #206 closed, assigned to nobody

[2017-02-02 22:36] nshCore opened #210 "[BUG] findAll() only returning single attribute from entity"
Please prefix your issue with one of the following: [BUG] [PROPOSAL] [QUESTION].

### Package version, Laravel version
        "laravel/lumen-framework": "5.3.*",
        "laravel-doctrine/orm": "1.2.*",

### Expected behaviour
findAll() should return all attributes of all entities

### Actual behaviour
only returning one attribute

### Steps to reproduce the behaviour
$results = app()->make('em')

[2017-02-02 23:52] josenicomaia commented on #210
Can you provide your doctrine.php, Entity and mapping?

[2017-02-03 05:16] nshCore commented on #210
doctrine.php

[code]

Entity showOff.php

[code]

The only attribute returned is 'nodeType' like this

There is other data in the actual table when viewed via mysql

[2017-02-03 06:16] nshCore commented on #210
I've switched on the logger to file and the query generated as followed

` SELECT t0.type AS type_1, t0.size AS size_2, t0.last_modified AS last_modified_3, t0.hair_cutter AS hair_cutter_4, t0.file_path AS file_path_5, t0.content_url AS content_url_6, t0.embed_url AS embed_url_7, t0.height AS height_8, t0.width AS width_9, t0.player_type AS player_type_10, t0.about AS about_11, t0.award AS award_1

[2017-02-03 07:59] eigan commented on #210
Just a guess here, but..
`nodetype` is a public property? Looks like since you return an array in the [controller method](http://stackoverflow.com/questions/42019091/laravel-doctrine-only-returning-single-attribute-from-findall-query), Laravel only outputs the public properties of the object in the array. What does `showResponse()` do?

You could try to implement JsonSerializable::[jsonSerialize](

[2017-02-03 10:08] nshCore commented on #210
showResponse() is a factory for returning a Diactoros\Response\JsonResponse object.

You are right it seems that it needs to be a public attribute to be returned here, which is weird as in other controllers I am doing similar methods of returning data, which do grab the entire entities protected properties I then pass them into a fractal transformer to only out put the attributes I want. Im not ov

[2017-02-03 10:39] eigan commented on #210
Just to clarify, `findAll()` does not return an array of objects? Or does `getHairCutter()` return null on every object?

Since you use a custom repository, might want to check ShowOffRepository::findAll()

_Have you cleared the cache? I see memcached as default_

[2017-02-03 10:42] nshCore commented on #210
`findAll()` returns the data in this structure

[code]
`getHairCutter()` returns a user object that is on a one-to-one association  from the showOffEntity

Even though showOffEntity has a custom repository ShowOffRepository it inherits `findAll()` directly from \Doctrine\ORM\EntityRepository.

ShowOffRepository only contains custom methods for storing and updating entities.

Yep i've been dropping

[2017-02-03 11:42] eigan commented on #210
I have never seen `findAll()` return anything else than objects.. Strange..
I would check the MediaObject mapping/methods for some weird stuff and run `php artisan doctrine:schema:validate`

[2017-02-03 11:53] nshCore commented on #210
yeh for sure something weird now, i abstracted the `index()` into my LumenRestServerComponent its behaving as it should.

https://github.com/jkirkby91-2/LumenRestServerComponent/blob/master/src/Http/Controllers/ResourceController.php

Maybe something wrong in the business logic layer of my app. Any way will continue to investigate, thank for the support. I guess this wasnt really a bug after all.

[2017-02-03 11:53] #210 closed, assigned to nobody

[2017-02-06 18:52] LavaToaster commented on #189
Hey All - I've made a PR that contains what I consider to be a near MVP version of a Laravel doctrine port. https://github.com/laravel-doctrine/passport/pull/1

I'd appreciate it if you could review it. ❤️

[2017-02-06 20:59] Evertt commented on #189
@Lavoaster I don't have time to really review your code, but I just want to say I very much appreciate the work you've put into it!

[2017-02-10 18:20] matt-allan commented on #202
This is a general problem with how Lumen works ([see this issue](https://github.com/laravel/lumen-framework/issues/416)).

@blacktemplar If you resolve the validator once (`app('validator')`) before the Laravel Doctrine service provider runs it should work.  That will stop [this block of code](https://github.com/laravel/lumen-framework/blob/5.2/src/Application.php#L199) from running.

[2017-02-18 11:59] motammem commented on #206
Registering doctrine as user provider causes all templates rendered when `Auth::check()` method is called.

[2017-02-21 02:47] hoangnguyengia opened #212 "Bug memcache connect"
### 1.2.10

### error memcache

### https://github.com/laravel-doctrine/orm/blob/1.2/src/EntityManagerFactory.php

$configuration = $this->setup->createConfiguration(
            array_get($settings, 'dev', false),
            array_get($settings, 'proxies.path'),
            $this->cache->driver()
        );

lost $this->cache->driver()

[2017-02-21 11:58] patrickbrouwers commented on #212
Duplicate issue

[2017-02-21 11:58] #212 closed, assigned to nobody

[2017-02-22 22:03] loiclavoie commented on #196
@patrickbrouwers I'm sorry Patrick, I never saw that comment o_O.

What do you mean by PR it?

[2017-02-23 17:50] patrickbrouwers commented on #196
PR = making a pull request. But I've already fixed it myself a month ago. Should be fixed in the latest version.

[2017-03-02 06:47] aftabnaveed commented on #187
Hey Guys, I know this issue is closed and I am new to Laravel and for that matter to Laravel Doctrine. I can see that my User entity is implicitly bound to  controller action
`UserController::show(Request $request, User $user)`

Since I use repository to fetch user information, how is this going to link to it? Moreover, do I need to register this middleware some where? I see laravel 5.4 has a rout

[2017-03-02 08:04] SwenVanZanten commented on #187
You'll need to replace/add the Laravel Doctrine middleware to the Kernel.php.

I don't understand why you need the repository in this example..
But if you want dependency injection for the repositories you could create something like this:

[code]

[2017-03-02 08:14] aftabnaveed commented on #187
@HDsign  sorry for not been clear, I am able to inject the repository that's not a problem here. Issue I am having with is the User entity and from above substitute snippet bindings middleware
[code]
Looks like my binding is not properly working, here is my controller action

[code]
**above show action returns null**

[2017-03-02 08:22] aftabnaveed commented on #187
OH @HDsign  my bad, I missed first part of your answer I now just replaced the laravel default binding middleware with `\LaravelDoctrine\ORM\Middleware\SubstituteBindings::class` and now it is working.

[2017-03-13 15:05] aledelgo opened #216 "[BUG] Doctrine caching methods accept TTL in seconds, but Laravel use minutes"
### Package version 1.2, Laravel version 5.3

### Expected behaviour
Save query result in cache with a TTL  = 5 **seconds**

### Actual behaviour
The cresult in the cache have a TTL of 5 **minutes**

### Long explanation
When i try to save the result of a query in the cache via native doctrine commands, it expect the cache TTL to be **in seconds**, but the cache driver used refer to Laravel cache

[2017-03-13 16:53] patrickbrouwers commented on #216
Thanks for spotting this. A PR for this would be very helpful.

[2017-03-14 15:17] dickyeka opened #217 "How to use pagination?"
EntityManager::getRepository(Product::class)->paginate(); ?

[2017-03-14 15:38] maxbrokman commented on #217
See the documentation here: http://www.laraveldoctrine.org/docs/1.2/orm/repositories#pagination

[2017-03-14 15:46] dickyeka commented on #217
must use QueryBuilder ? what if i use ORM  EntityManager::getRepository(Product::class) ?

[2017-03-14 15:52] patrickbrouwers commented on #217
You can only use the pagination feature of Laravel-Doctrine if you use custom repositories. It's not supported by us nor Doctrine-Core team to call any pagination methods directly on default repositories.

[2017-03-14 16:01] guiwoda commented on #217
If you use service location to get your repo, make sure your custom repo is mapped to your entity

[2017-03-14 16:01] dickyeka commented on #217
you have example code?

[2017-03-14 16:24] guiwoda commented on #217
http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/annotations-reference.html#entity

http://www.laraveldoctrine.org/docs/1.2/fluent/reference#advanced

[2017-03-14 16:33] maxbrokman opened #218 "[BUG] PaginateFromParams `paginateAll` is broken"
### Branch: 1.3

https://github.com/laravel-doctrine/orm/blob/31fb87ad8008133236a09c80e761d91cac26abd3/src/Pagination/PaginatesFromParams.php#L9-L38

### Expected behaviour

`PaginateFromParams` `paginateAll` offers a `$page` argument and passes this to `paginate`.

### Actual behaviour

`paginateAll` takes a `$pageName` argument (as with `PaginateFromRequest`) and incorrectly passes this into `pa

[2017-03-14 16:41] patrickbrouwers commented on #218
@guiwoda

[2017-03-14 16:42] maxbrokman commented on #218
Did you know you can +1 your own comments?

[2017-03-14 16:43] guiwoda commented on #218
You can also fix your own issues! :wink:

[2017-03-14 16:43] patrickbrouwers commented on #218
Not as fun as downvoting your comment ;)

[2017-03-14 16:43] maxbrokman commented on #218
you guys are mean I not gonna be friends with you any more

[2017-03-14 16:43] maxbrokman commented on #218
@guiwoda I could fix my own issues but I have soooo many boring crud controllers to write

[2017-03-14 16:44] maxbrokman commented on #218
maybe later in the week

[2017-03-14 16:44] guiwoda commented on #218
I'll help :)

[2017-03-14 16:54] #218 closed, assigned to nobody

[2017-03-16 04:07] ramseyjiang commented on #119
It still has the same problem in 5.2.45.

[2017-03-21 02:07] azeem81 opened #220 "1) Narwhal\User\Tests\UserTest::testCreateUser InvalidArgumentException: Unable to locate factory with name [default] [Narwhal\ User\Domain\Entity\User]."
[QUESTION]. how to fix error on running a test.

Factory is defined in /database/factories/ModelFactory.php as below:

   $factory->define(\Narwhal\User\Domain\Entity\User::class, function (Faker\Generator $faker) {
    static $password;

    return [
        'name' => $faker->name,
        'email' => $faker->unique()->safeEmail,
        'password' => $password ?: $password = bcrypt('secret'),

[2017-03-21 02:12] patrickbrouwers commented on #220
Did you check our docs: http://www.laraveldoctrine.org/docs/1.3/orm/testing

[2017-03-28 23:09] patrickbrouwers commented on #220
Use `entity()` helper like explained in docs.

[code]

[2017-03-28 23:09] #220 closed, assigned to nobody

[2017-03-28 23:11] #217 closed, assigned to nobody

[2017-03-28 23:11] patrickbrouwers commented on #216
Reference: https://github.com/laravel-doctrine/orm/blob/1.3/src/Configuration/Cache/IlluminateCacheAdapter.php#L57

[2017-03-28 23:11] #204 closed, assigned to nobody

[2017-03-28 23:11] #201 closed, assigned to nobody

[2017-03-28 23:12] #197 closed, assigned to nobody

[2017-03-28 23:12] patrickbrouwers commented on #189
We have decided to not support any Doctrine implementation of Passport. Instead we suggest using it with Eloquent, and mapping it to Doctrine after the authentication is done.

Link to slack discussion: https://laraveldoctrine.slack.com/archives/C07HD2RS7/p1488372497003072

I'll be updating the readme/docs soon to indicate how you should integrate with Passport.

[2017-03-28 23:12] #189 closed, assigned to nobody

[2017-03-29 05:55] oddz commented on #189
That's sad. A great community of devs just saying fuck it because core doesn't easily cater to integration with Laravel doctrine. I think laravel doctrine is one of the best initiatives to advance the Laravel. I mean let's face it... as great as Laravel is Eloquent is several years behind the times. Eloquent, active record in general is an out dated persistence mechanism. I can't believe for one s

[2017-03-29 06:00] oddz commented on #189
Lavaoster has provided a pretty good solution to this problem. It isn't perfect because it can't be due to the rigid architecture of passport. However, it is a try... a try beyond just saying fuck it.

[2017-03-29 06:05] oddz commented on #189
I expect better. Especially from great projects I have looked up to and learned a lot from. Icant even fathom right now why doctrine, isn't a pattern to be looked up to. Active record has so many limitations... especially an active record pattern design that is proprietary to such a wonderful, flexible, and forward facing architecture as Laravel within the the context of php development.

[2017-03-29 06:10] oddz commented on #189
I meant to say that active record is dead and frameworks like Laravel should be supporting much more flexible persistence layers. Supporting pesistence mechanisms with such a limited feature set, beyond the capabilities of 2009 is only going to make the JavaScript everywhere movement that much more dominant.

[2017-03-29 06:22] oddz commented on #189
This is just messed up. Laravel is currently the best, most sophisticated framework in php ecosystem. It's just not acceptable to have people abandon it and suggest using eloquent... Luke I said before an age old, piece of shit persistence layer which should have been left in the glory days of rails...

[2017-03-29 06:48] patrickbrouwers commented on #189
Please offer your apologies for your response. I don't accept being responded to in this way.

[2017-03-29 06:52] oddz commented on #189
I don't. I love ya guys and what you have done for Laravel, doctrine but this just isn't acceptable.

[2017-03-29 06:57] patrickbrouwers commented on #189
I won't help you anymore until you apologize. Your response is completely ridiculous and childish. This decision wasn't taken lightly and you are mocking us for it. You are the one being unacceptable.
We are in no way required to offer and support a doctrine implementation of passport. You are not paying us to do it. Nothing is stopping you from starting your own passport repo. We decided against

[2017-03-29 06:57] oddz commented on #189
The only apology I would ever offer is the apology that you don't care... I find it sad... like I said nobody cares.

[2017-03-29 06:58] patrickbrouwers commented on #189
Please stop responding, you are not helping yourself.

[2017-03-29 07:06] oddz commented on #189
I agree with you in that regard... but you have Lavoaster whom has a pretty good solution to this problem. However, you won't accept or even look at it because it completely rewrites the module. If you actually take anytime to look at how passport is written you will see that it is TIGHTLY coupled to eloquent. So what he/she? Wrote is actually pretty good. I get that you don't want to support a co

[2017-03-29 07:10] oddz commented on #189
My passion for this project may come off offensive and for that apologize but
 I see the js everywhere movement beginning to take over and if great ecosystems like Laravel can't implement a basic domain mapper pattern... One which is based on a tried bad true gene work I don't know what to think.

[2017-03-29 07:37] oddz commented on #189
Patrick, your programming and/or leadership skills are much better in code than in person. Might want to work on that. Just a suggestion. I still love your shit though!

[2017-03-29 07:39] sisve commented on #189
@oddz The way to proceed in this issue would be to change one of the large underlying issues in Laravel's passport code.

Source: https://laraveldoctrine.slack.com/archives/C07HD2RS7/p1488372589003080

The decision has been made on the current state of affairs. The best way to change the decision would be to change the underlying issue, the coupling between Passport and Eloquent.

Source: https://

[2017-03-29 07:39] oddz commented on #189
The things you did with Laravel are great I just don't agree with this decision.

[2017-03-29 07:46] oddz commented on #189
Correct, but who wrote that? People who work on great frameworks like Laravel, ones which cater to interchangeability should not be writing the shitty, inflexible code of passport core. Sorry, but it's true. It's unacceptable to have such a tight coupling to an authentication layer that is meant to make the framework more flexible... Easier to use with other technologies.

[2017-03-29 07:48] patrickbrouwers commented on #189
Let me start clearing up some things.

Never stated he didn't write a good implementation of Passport with Doctrine.

I have looked at it and decided against it.

Trust me, i know how tightly it's coupled to Eloquent.

In that case (case of rewrite by Laravel) we can re-evaluate this decision.

Very offensive. And disrespectful against the people spending a lot of time building and maintaining thi

[2017-03-29 07:51] sisve commented on #189
@oddz I've added links to the sources for those statements.

If you want to put your energy into this issue, boot up the propaganda machine and start lobbying a change in the [laravel/passport](https://github.com/laravel/passport) repository to allow persistence-ignorance so that we can easily support it without rewriting everything.

[2017-03-29 08:02] oddz commented on #189
I mean... just write it in a way where different adaptor implentatioms are accepted. I get it that there might not have been time to do it originally. Laravel though though caters to the idea of interchangeability. Don't you go us think it is important to make this aspect interchangeable via programming to to interfaces as well. I'm just so surprised no one thought of that. It's kind of like someo

[2017-03-29 08:04] patrickbrouwers commented on #189
This is not the location for this dicussion. It's up to Taylor to provide interchangeablity in Passport. You should open a ticket there, instead of blaming us for it.

[2017-03-29 08:15] oddz commented on #189
We should. It's unacceptable, lax to offer such a poorly programmed solution. One which can't be changed without completely rewriting the the package. Who the fuck wrote that... It's obviously not someone who is able to anticipate the needs of framework users...

[2017-03-29 10:29] aledelgo commented on #216
Thanks for the hint, I've already fixed it in my code but never really tested it for float numbers. Now i verified that in the Laravel cache storage the lifeTime number is multiplied again by 60 and accept floats as  so it will work fine with any lifetime number from laravel-doctrine.
I'll do a PR in minutes.

[2017-03-29 11:56] Evertt commented on #189
@patrickbrouwers @oddz @christiandreher @Toyinster @sisve @HDsign as you can see I opened [an issue](https://github.com/laravel/passport/issues/326) on the Laravel Passport repo. Maybe you can show your support and/or add some ideas or information to the thread. :-)

[2017-03-29 13:22] patrickbrouwers commented on #216
Fix released as 1.3.2

[2017-03-29 13:22] #216 closed, assigned to nobody

[2017-03-29 23:06] azeem81 commented on #220
now i am getting this error:

PHPUnit 6.0.10 by Sebastian Bergmann and contributors.

.E                                                                  2 / 2 (100%)

Time: 284 ms, Memory: 6.00MB

There was 1 error:

1) Narwhal\User\Tests\UserTest::testCreateUser
Illuminate\Contracts\Container\BindingResolutionException: Target [Doctrine\Common\Persistence\ManagerRegistry] is not instantiable whi

[2017-03-30 11:10] patrickbrouwers commented on #220
I think you need to extend the Laravel Testcase for this to work.

[2017-03-30 16:41] patrickbrouwers commented on #189
I have tested the integration and it's actually achievable without any customizations in Laravel Passport and Laravel Doctrine.

The only thing that doesn't work out of the box are the listing of "personal access tokens". With a small change in Laravel-Passport that would also work.

You should just embrace Eloquent for this OAuth stuff. By setting the user provider on "doctrine", the oauth token

[2017-03-30 17:17] patrickbrouwers commented on #189
Changes for Laravel Passport to make it fully compatible: https://github.com/laravel/passport/pull/327

[2017-03-31 10:10] RBastianini opened #222 "[BUG] SimpleHydrator ignores parent class' properties when hydrating child class."
### Package version, Laravel version
Laravel: 5.2.29
laravel-doctrine: 1.2.8
### Expected behaviour
When using `LaravelDoctrine\ORM\Testing\Factory::create()` to create an instance of a Model that inherits from another one, all *private* properties of the parent model are ignored by `LaravelDoctrine\ORM\Testing\SimpleHydrator` and not set on the model.
### Actual behaviour
I'd expect `LaravelDoctr

[2017-03-31 10:13] dave-redfern commented on #90
@patrickbrouwers If you want some pre-rolled code, I have a basic Laravel-Doctrine project repo you are free to borrow from.

mapping files: https://github.com/dave-redfern/laravel-doctrine-project/tree/master/config/mappings/core
entities: https://github.com/dave-redfern/laravel-doctrine-project/tree/master/app/Entities

[2017-03-31 11:31] patrickbrouwers commented on #90
@dave-redfern thanks

[2017-03-31 14:50] #222 closed, assigned to nobody

[2017-03-31 14:52] patrickbrouwers commented on #222
Will be supported from next release.

[2017-04-01 18:42] patrickbrouwers commented on #189
Above PR was merged. You can now use Passport together with Laravel Doctrine with the minimal change that you need to implement the `getKey()` method in your User entity.

[2017-04-01 18:44] Evertt commented on #189
Patrick, you are amazing. :-D

[2017-04-02 22:45] JayyWalker opened #223 "[QUESTION] Commands for Doctrine are undefined. Do I need to register all the commands?"
I am using Laravel 5.4 and version 1.3.2 of the ORM.

When I run any Doctrine command such as:

`php artisan doctrine:generate:entities`

I receive a response:

[code]

After not finding anything about this in the documentation, I looked in the source code for the `Console` namespace. There's several files there, so like the title says, do I need to register each one by one?

[2017-04-02 22:49] patrickbrouwers commented on #223
Did you register the Service Provider? (`LaravelDoctrine\ORM\DoctrineServiceProvider`)

The console commands will get auto-registered (https://github.com/laravel-doctrine/orm/blob/1.3/src/DoctrineServiceProvider.php#L320).

[2017-04-02 23:28] JayyWalker commented on #223
@patrickbrouwers Ah, there it is. I made mistake by adding it to the wrong array. It works now, cheers mate.

Another question if it's okay to ask here, it's relative to this anyway.

Any command I run I receive the error:

[code]

I've checked to makesure my driver is set to mysql. In my `.env` file it has `DB_CONNECTION=mysql`

My `config/doctrine.php` looks like:

[code]

[2017-04-03 10:47] patrickbrouwers commented on #223
@JayyWalker `Driver []` indicates that no driver was given in the config.
Couple of things you should check:

* Does `mysql` connection exists in `database.php` and does it have a `driver` given?
* Is the config cached?
* Does the .env variable get loaded in the CLI?

[2017-04-13 15:46] Shandur opened #229 "[QUESTION] Create relations using entity factories"
Hello!
I can't find example of how to create relations using doctrine factories for generating dummy data.
There is only a simple per-column example with scalars in [Testing guide](http://www.laraveldoctrine.org/docs/1.3/orm/testingl) .
Sorry if it's a stupid question but probably you have good example.
For instance, if you have ManyToMany relation between User and Role. User is owner(inverse side

[2017-04-20 15:31] Shandur opened #230 "[BUG] Doctrine factory doesn't create users in tests"
### Package version, Laravel version
Laravel version: 5.4.18

### Expected behaviour
Create an entity using  LaravelDoctrine\ORM\Testing\Factory or entity() helper via method create($className).

### Actual behaviour
When use entity() helper or LaravelDoctrine\ORM\Testing\Factory in tests it throws an error:
PHP Error:  Call to a member function persist() on null in /home/master/projects/novi/vend

[2017-04-21 09:23] Shandur commented on #230
I found the problem.
Currently I'm using orchestral/testbench for testing.
Test class should contain CreatesApplication trait.

    use Illuminate\Contracts\Console\Kernel;

    trait CreatesApplication
    {
        /**
         * Creates the application.
         *
         * @return \Illuminate\Foundation\Application
         */
    public function createApplication()
    {
        $app = requi

[2017-04-21 09:23] #230 closed, assigned to nobody

[2017-04-24 10:33] #229 closed, assigned to nobody

[2017-04-24 20:03] patrickbrouwers commented on #223
Closing this because of lack of activity.

[2017-04-24 20:03] #223 closed, assigned to nobody

[2017-04-24 20:04] patrickbrouwers commented on #202
Should be fixed in 1.3.4

[2017-04-24 20:04] #202 closed, assigned to nobody

[2017-04-24 20:04] patrickbrouwers commented on #192
Closing this because of lack of activity.

[2017-04-24 20:04] #192 closed, assigned to nobody

[2017-04-25 13:19] mauserrifle commented on #189
Great work!

I just tested the password grant but resulted in error:

Call to undefined method Cms3\Core\Domain\User\Entity\User::where()' in vendor/laravel/passport/src/Bridge/UserRepository.php:44

This bridge is still tight to eloquent. Or did I forget to setup something maybe?

[2017-04-25 14:56] patrickbrouwers commented on #189
Maybe they broke it again? I thought I tested password grant too and it work last month.

[2017-04-26 15:42] shane-scalable opened #233 "[ISSUE] Validation broken on update from 1.3.1 to 1.3.4"
Recently updating packages has caused validation to no longer map the class namespace to the table name for some reason.

I'm rolling back versions for now until this is fixed.  If I get some downtime and it has not been addressed then I will look into it myself.

### Package version, Laravel version
- Updating laravel/framework (v5.4.15 => v5.4.19) Downloading: 100%
- Updating laravel-doctrine/or

[2017-04-30 00:26] iAchilles commented on #233
I have the same issue.

[2017-05-07 10:23] #233 closed, assigned to nobody

[2017-05-07 10:23] patrickbrouwers commented on #233
Fix in 1.3.5

[2017-05-07 12:21] juanwilde opened #234 "[QUESTION] doctrine:generate:entities src not generate getters and setters"
My project: laravel 5.3.* with laravel/doctrine 1.2.*

When I perform an `artisan doctrine:generate:entities src --filter=MyClass` the command runs ok but my getters and setters are not created.

This issue is happening to me since I updated all my dependencies (composer update)

This is an example of Entity

    <?php

    namespace Entities;

    use Doctrine\ORM\Mapping as ORM;
    use App\Help

[2017-05-07 12:28] patrickbrouwers commented on #234
Nothing has changed in this command for months. You have to use `--generate-methods` to generate the getters and setters.

[2017-05-07 12:35] juanwilde commented on #234
![screen shot 2017-05-07 at 14 32 06](https://cloud.githubusercontent.com/assets/6040385/25780947/01f55b46-3332-11e7-9080-e2efc2196ad7.png)

Well, this is the output of the command with `--generate-methods`, but still having no getters and setters.

I tried with my old `composer.json` from a past commit and it works, but now it's not working. This is my actual dependencies:

    "require": {

[2017-05-07 12:36] patrickbrouwers commented on #234
Can you try `--generate-methods=true`

[2017-05-07 12:39] juanwilde commented on #234
`The "--generate-methods" option does not accept a value. `

If I exectute it without the `src` it generate them ok, but under my `app/Entities` folder instead `src/Entities`

Maybe this could help

[2017-05-07 12:51] patrickbrouwers commented on #234
I just tested it on L5.3 with the latest LD1.2 version and for me using `--generate-methods` works.  It also puts them in the `src` folder for me.

As reference: `php artisan doctrine:generate:entities src --generate-methods`

[2017-05-07 12:58] juanwilde commented on #234
Thank you. I suspect that it's permission stuff. Because I'm running a Vagrant environment with "NFS" filesystem and in some cases I had permission issues.

For the moment I generated them into app/Entities and then I moved to src/Entities. So this thread could be closes since I think it is not a laravel/doctrine problem.

Thanks a lot again :)

[2017-05-07 12:59] patrickbrouwers commented on #234
👍

[2017-05-07 12:59] #234 closed, assigned to nobody

[2017-05-19 04:50] aftabnaveed commented on #189
@patrickbrouwers does the integration work? If yes is it fully stable?

[2017-05-25 13:53] provun commented on #189
@patrickbrouwers has the code been stabilised as yet? Or should we be looking at other avenues?

[2017-05-31 18:13] zquintana opened #237 "[PROPOSAL] Make DoctrineCollector widget keys configurable or unique"
Right now in the current model the collector for debugbar collides widget keys with Laravel's built in query collector. This makes it difficult to use Doctrine along side Eloquent with debugging for monitoring. With existing applications it is desirable at times to keep eloquent running alongside Doctrine during the transition. Allowing this to be configurable or using a different key allows both

[2017-06-06 14:11] Fluepke opened #238 "[BUG?] SimpleHydrator should be calling setter method if available"
In Doctrine it's the application's responsibility of keeping a bidirectional association in sync.

In their [documentation](http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/unitofwork-associations.html#important-concepts) it reads as follows:

When creating an object using a `Factory`, _laravel-doctrine_ relies on the `SimpleHydrator` to create the actual object from the

[2017-06-06 16:03] guiwoda commented on #238
Closing this, check #239 for more details.

[2017-06-06 16:03] #238 closed, assigned to nobody

[2017-06-06 16:05] guiwoda commented on #237
I think reading an env variable and defaulting to the current key would be fine.
Your PR would be welcome, @zquintana

[2017-06-13 16:16] patrickbrouwers commented on #237
Closing this one as we have a PR #241 for it.

[2017-06-13 16:16] #237 closed, assigned to nobody

[2017-06-14 16:08] obeone opened #243 "[QUESTION] Notification want to save notifiable as new"
### Package version, Laravel version
Laravel Doctrine : 1.3.5
Laravel : 5.4.26

### Expected behaviour
Notification to be saved in database

### Actual behaviour
Doctrine think that the user is new (and it's not), sio when the notification is saved, an error occured :
[code]

### Steps to reproduce the behaviour
Notification Entity :
[code]

The entity Member use the trait \LaravelDoctrine\ORM\Not

[2017-06-15 13:38] jorygeerts commented on #189
The current implementation seems broken. `Laravel\Passport\Bridge\UserRepository::getUserEntityByUserCredentials()` reads the `auth.providers.users.model` config value and assumes it is the name of a class that has a constructor without arguments and either `findForPassport` of `where` as method.

Since my entities do have constructors (with their non-nullable properties as parameters) and I do no

[2017-06-15 15:35] obeone commented on #243
I found a workaround by using a merge, to force database to refresh data.

I put :
[code]

In the toEntity method of the notification

[2017-06-15 17:07] guiwoda commented on #243
You're probably using the `$user` object straight from session.
If Doctrine doesn't know about the object, it won't be in its `IdentityMap` so it will always consider it a new instance.

Your workaround is actually the way to go. Either that or modify the session driver to only save an ID and fetch the real user from Doctrine every time (can be optimized with L2 cache later).

[2017-06-15 17:07] #243 closed, assigned to nobody

[2017-06-25 17:52] isaackearl commented on #189
So what is the current state of this?  Is it possible to use Laravel Doctrine with Passport?  I'm looking to start a new project and I definitely want to try using Laravel Doctrine for it.  However I'm thinking of creating an API that would highly benefit from passport.

So if I understand correctly, there was a change to the passport code base which made it possible to integrate with Laravel Doct

[2017-06-27 17:02] isaackearl commented on #189
So to answer my own question... I went ahead and gave the integration a try.

It ended up being fairly easy to get passport to work with doctrine.  I would go so far as to say, if you are thinking of integrating passport in your doctrine laravel app, then just go ahead and try and do it, it works well out of the box after a few fixes.  Here are the things I had to do to get things to work:

1. I h

[2017-06-27 17:02] adridev opened #247 "[BUG] \LaravelDoctrine\ORM\IlluminateRegistry::resetManager returns null"
### Package version, Laravel version
1.3
### Expected behaviour
I guess it should return a fresh entity manager
### Actual behaviour
It returns null

[2017-06-27 17:17] patrickbrouwers commented on #247
PR would be much appreciated :)

[2017-06-27 17:27] adridev commented on #247
Of course, let me do it ;)

[2017-06-28 01:46] vv12131415 opened #248 "[QUESTION] php 7.x"
do you consider to move to php 7.x only?
Since next version of laravel will require it.
If yes, the same question  for strict types.

[2017-06-28 09:32] adridev commented on #247
There you have it https://github.com/laravel-doctrine/orm/pull/250

[2017-07-01 21:38] isaackearl opened #252 "[BUG] Using postgres and reset and refresh don't work (migration commands)"
### Package version, Laravel version
laravel/framework                       v5.4.28 The Laravel Framework.
laravel-doctrine/orm                    1.3.6   A Doctrine ORM bridge for Laravel 5

### Expected behaviour
``` php artisan doctrine:migrations:reset ```
should reset the database... but instead it drops the migrations table first... ?

### Actual behaviour
[code]

### Steps to reproduce the

[2017-07-02 06:13] isaackearl commented on #252
I just realized I opened this on wrong repo... I will close this and move it over to the migrations package...

[2017-07-02 06:13] #252 closed, assigned to nobody

[2017-07-04 08:34] eigan opened #253 "[BUG] ReplaceQueryParams throws ErrorException when converting empty array"
### Versions
laravel-doctrine: 1.3.6
laravel: v5.4.28
doctrine: v2.5.6

### Expected behaviour
Have logger set to FileLogger.
Setting `['foo' => 'bar', 'test' => []]` as value for a `json` column should work.

### Actual behaviour
ReplaceQueryParams throws `ErrorException: Array to string conversion`

### Steps to reproduce the behaviour
- Create Entity with a column of type `json`
- Enable FileLo

[2017-07-04 08:38] patrickbrouwers commented on #248
It depends fully on if we will have to support a "Laravel 5.5" only version. Until we can manage to support both 5.4 and 5.5 with the same version of this package, we will support both versions. But changes are high there will be a php 7.x only version which would only be for Laravel 5.5 usage.

[2017-07-04 08:39] patrickbrouwers commented on #253
Hey! A PR would be much appreciated. Or a PR with a failing tests for it would also help a lot, if you don't manage to find a solution for it.

[2017-07-07 07:39] Jalle19 opened #254 "[BUG] Implicit faker dependency not declared in composer.json"
### Package version, Laravel version

1.3.x, Lumen 5.4.x

### Expected behaviour

Library works when project dependencies are installed with `--no-dev`

### Actual behaviour

Library doesn't work at all due to implicit `fzaninotto/faker` dependency (https://github.com/laravel-doctrine/orm/blob/1.3/src/DoctrineServiceProvider.php#L10)

### Steps to reproduce the behaviour

Try to use this library i

[2017-07-09 12:35] KPKoch commented on #189
Currently I am trying to integrate Passport with Laravel.
Situation seems: not that easy with Passport 3.0. At least the solution suggested by isaackearl doesn't work this way for me.

It get stucks at the "Repos" and the access via Active Record. This seem to me like some major work to integrate. The exact problem I am facing is the missing "where", like in
"Call to undefined method App\Models\Us

[2017-07-09 17:07] isaackearl commented on #189
@KPKoch

So I went ahead and upgraded my install to Passport 3.0 to see what the issues were, and it actually worked for me.  I think I must have done something else that I didn't document properly in my above example.

I think I'll spend some time this week setting up another project with doctrine and passport, and I'll try and do a better job of documenting it and maybe do a little write-up.

Th

[2017-07-09 19:54] KPKoch commented on #189
I consider that there may be some configuration error. I feel this happens sometimes while upgrading and the project is up-to-date but had a minor history (think it could have had been 5.2) and the recent change in the frontend (decision to move from a laravel web app to a API only)
At least the config is right:
    'providers' => [
        'users' => [
            'driver' => 'doctrine',

[2017-07-11 13:37] AP-Hunt commented on #189
I just want to say a massive thank you to everybody who's contributed to this issue over the last 9 months. I expect a lot of people have benefited from reading through your discussions and attempts to get Laravel-Doctrine working with Laravel Passport.

[2017-07-12 09:57] isaackearl commented on #189
@KPKoch I went ahead and went through the process again and did a better job of documenting each thing I did.  Here is the resultant guide:

https://isaacearl.com/blog/laravel-doctrine-setup

I go through step by step.  and got a fully working passport demo at the end with doctrine etc.  I also uploaded the result to a repository here: https://github.com/isaackearl/doctrine-passport-demo

[2017-07-12 10:21] patrickbrouwers commented on #189
@isaackearl thanks for the article! Would you mind it if I would link to it in our documentation?

[2017-07-12 10:25] isaackearl commented on #189
@patrickbrouwers No I don't mind at all.  Sounds awesome!  I'll try and keep it up to date for those checking it out.

[2017-07-12 13:31] patrickbrouwers commented on #189
thanks @isaackearl :)

[2017-07-14 08:22] Viniter opened #256 "[PROPOSAL] Add ability to register custom hydrators through config"
There is currently no nice way of registering custom hydrators, other then fetching the entity manager somewhere in the application bootstrap and calling `$em->getConfiguration()->addCustomHydrationMode()`.

It would be nice if there was an optional field in the configuration, and it would be registered in the `EntityManagerFactory` similarly to custom types or custom functions.

It's a tiny chang

[2017-07-14 08:23] patrickbrouwers commented on #256
PR's are always welcomed :)

[2017-07-21 22:36] KPKoch commented on #189
Thx guys for the effort. Currently I still do have the problem, as I:
- cloned your example,
+ added cors bundle (so I can test it with my current setup)
- installed packages php & js
- run passport:install
- added an user
Tried to authenticate :
500

Same place as before.  passport/src/Bridge/UserRepository.php, line 44.
If I modify this class to use the entity manager, this part works fine.

[2017-07-22 06:50] isaackearl commented on #189
@KPKoch

So after scratching my head for a little while I finally realized you are trying to do a Password Grant instead of an Authorization Code Grant.

I was finally able to reproduce your issue while trying to do a password grant.  I then found a fix which I will attempt to describe to you now.  I will also update my repo and add a note to the guide I created.

You'll see in the code for the Us

[2017-07-22 18:33] KPKoch commented on #189
I realy like your example and it helped me to find sort out a "tiny" misconfiguration from old times. My first source currently to hunt bugs. This is why it is so important to me, that examples given on the internet are just working. If they don't it adds the factor of guessing.
As said, the project is a bit older and so well the last updates with laravel were, it is always somewhat tricky to foll

[2017-07-26 14:47] verissimomanoel opened #261 "OracleConnection"
I found a problem related to Oracle connection. When I try to connect to SERVICE_NAME, this does not work because the code below is missing from the OracleConnection class:
             'servicename' => array_get ($ settings, 'service_name'),
             'service' => array_get ($ settings, 'service'),

These parameters are provided in the documentation of the laravel-oci8 library.

[2017-07-26 17:57] patrickbrouwers commented on #261
The `OracleConnection` was added by a pull-request, I have never used it myself, but it seemed to work for him. Maybe `laravel-oci8` library changed in the meantime. Can you provide a PR for this, thanks.

[2017-07-27 11:43] verissimomanoel commented on #261
I provide a new PR for this FIX, please aprove that. I need that urgent!

[2017-07-27 18:42] fabriciopaulo commented on #261
I'm also not know how to create oracle connection because for use this package apparently is need to use the  Yajra/laravel-oci8 package that not is a good driver.

[2017-07-27 19:46] verissimomanoel commented on #261
How to connect I know, but the problem is connect using SERVICE_NAME. In actual version only is possible connect using SID. I submitted a pull request with correction.

[2017-07-27 21:57] gmsantos commented on #261
I did this Connection PR a long time ago @patrickbrouwers. Unfortunately I didn't use Oracle anymore and don't know if `laravel-oci8` changed or there are better options.

[2017-07-28 01:14] joaoeduardo opened #263 "[QUESTION] Can't install on Laravel 5.4"
**Package version:** 1.3.7
**Laravel version:** 5.4.30
**Homestead version:** 2.2.0

# Expected behaviour
Install normally

# Actual behaviour
Composer shows the message bellow
[code]

# Steps to reproduce the behaviour
[code]

[2017-07-28 07:39] patrickbrouwers commented on #263
Hey @joaoeduardo, can indeed reproduce it if I use `require`, however strangely enough adding `"laravel-doctrine/orm": "1.3.*"` to `composer.json` and running `composer update` it installs like expected. I'm assuming it's a composer problem.

[2017-08-01 15:30] verissimomanoel commented on #261
@patrickbrouwers Any position about PR #262?

[2017-08-03 09:10] hshahdoost opened #264 "[BUG] Mysql 5.7, General error: 3065 Expression #1 of ORDER BY clause is not in SELECT list"
### Package version, Laravel version
1.3.x, Lumen 5.4.x, Mysql 5.7

### Expected behaviour
Return an aggregation on an entity (count)

### Actual behaviour
Library no longer works for Aggregation operations after upgrading to Mysql 5.7

### Steps to reproduce the behaviour
This issue has already been solved on the main Doctrine project [here](https://github.com/doctrine/doctrine2/pull/6143), The i

[2017-08-03 12:30] eigan commented on #264
This class (`LimitSubqueryOutputWalker`) Doesnt exist in laravel-doctrine. You would have to override it.

You can do that by creating a custom Paginator by extending Doctrine Paginator and use the fixed version of LimitSubqueryOutputWalker in `getIterator`.

Looks like Doctrine have some [issues left before next release](https://github.com/doctrine/doctrine2/issues?q=is%3Aopen+is%3Aissue+mileston

[2017-08-05 11:08] hshahdoost commented on #264
@eigan  I didn't quite catch what you mean by overriding this class, do you mean that this issue is invalid and should be solved by the developer?

[2017-08-05 14:47] eigan commented on #264
Yes. There is probably not much this project can do other than having a patched Paginator.

 I mean create your own by extending it. I have been doing it for the last year.

[2017-08-05 17:33] patrickbrouwers commented on #264
Closing this as it's not really a issue with the laravel-doctrine package. For a proper fix you'll have to wait till they release 2.6. In the meantime setting `sql-mode=""` should "fix" the problem. Overwriting the Paginator is also an option, but we won't over a patched one, as it's doctrine/orm logic.

[2017-08-05 17:33] #264 closed, assigned to nobody

[2017-08-05 17:37] #263 closed, assigned to nobody

[2017-08-05 17:37] #256 closed, assigned to nobody

[2017-08-05 17:37] #261 closed, assigned to nobody

[2017-08-05 17:38] #248 closed, assigned to nobody

[2017-08-06 07:37] hshahdoost commented on #264
@eigan sorry, I didn't know this is using Doctrine project, I thought it's a fork from it. Then you're right.

[2017-08-08 16:27] Korri commented on #254
@Jalle19 This should not be an issue as long as you don't use the entity factory in production, is it?

[2017-08-08 16:41] Korri opened #266 "[PROPOSAL] Allow persisting entities created with Entity factory"
## Issue

So currently almost all my model factories look like this:
[code]
I have to use `create()` for the role because I don't have _cascade persist_ enabled (and I don't want it), so if using `make()` I get a ton of `A new entity was found through the relationship...` errors.

This causes two issues:
   1. When calling `entity(Entities\User::class)->make()` the Role gets saved to database.

[2017-08-08 17:00] Jalle19 commented on #254
No, you can't include the service provider at all without the dependency.

[2017-08-08 17:01] Jalle19 commented on #254
register() calls registerEntityFactory() which needs the library.

[2017-08-08 17:02] maxbrokman commented on #254
Can you provide a stack trace? Should only kick in when you try to get an entity factory.

[2017-08-08 17:28] Jalle19 commented on #254
I need to look at it tomorrow, I don't remember how to reproduce it at the moment. Still, the fact that there is a use statement and a register method that needs this library strongly suggests that it is an actual dependency, not just somethinf required for testing.

[2017-08-08 17:40] Korri commented on #254
`use` and `::class` don't need an existing class, so it should work.

[2017-08-08 17:43] maxbrokman commented on #254
I think Laravel used to not require Faker, though it is now in `require-dev` to be fair.

[2017-08-08 18:04] patrickbrouwers commented on #254
^ Indeed. It shouldn't be a problem as long as you don't try to resolve the Factory anywhere.

[2017-08-09 09:21] Jalle19 commented on #254
Found an old stack trace, I have a feeling it's not the one that caused me to create this bug report but I don't see how to reproduce this either so let's close this.

[2017-08-09 09:21] #254 closed, assigned to nobody

[2017-08-13 17:57] mro95 opened #267 "[PROPOSAL] Querylogging in Laravel Debugbar"
I'm using laravel-doctrine 1.2 (laravel 5.3)

I would like some SQL query debug information in de Larvel debugbar (https://github.com/barryvdh/laravel-debugbar). At the moment no queries are shown.

Can you add this feature or is there a way to implement this?

[2017-08-13 18:04] mro95 commented on #267
After some googling i find this https://github.com/barryvdh/laravel-debugbar/issues/329
In a comment is mentioned that you have you could set .env variable
`DOCTRINE_LOGGER=LaravelDoctrine\ORM\Loggers\LaravelDebugbarLogger`
and it will work, Thanks @nejtr0n.
You might want to add this to your documentation.

[2017-08-13 18:23] patrickbrouwers commented on #267
It actually is in the docs: http://www.laraveldoctrine.org/docs/1.3/orm/config-file#logger

[2017-08-13 18:23] #267 closed, assigned to nobody

[2017-08-22 21:18] Korri commented on #266
What do you guys think? I'm happy to send a pull request if you agree with one of the proposed solutions.

[2017-09-06 07:42] lucavallin commented on #44
Up!
This could be a starting point: https://github.com/chefsplate/laravel-doctrine-odm

[2017-09-12 17:20] bigperson commented on #243
I have the same problem when adding Illuminate\Contracts\Queue\ShouldQueue interface to Notification class. Please tell me the options for solving the problem.

[code]
Does not solve my problem.

Laravel Doctrine : 1.4
Laravel : 5.5
Laravel Horizon: 1.0

[2017-09-13 12:21] bigperson opened #275 "[BUG] Unit tests not working when using :memory: driver sqlite database."
### Package version, Laravel version
Laravel 5.5
Laravel doctrine 1.4
PHPUnit 6.0

### Expected behaviour
Tests must pass success.

### Actual behaviour
Entity manager can not access the tables in databases
Errors:
[code]
### Steps to reproduce the behaviour
/config/database.php
[code]
/config/doctrine.php
[code]
phpunit.xml
[code]
ExampleTest.php
[code]

[2017-09-18 17:36] zquintana opened #277 "[PROPOSAL] Remove memory caching of entity listeners"
In the current version of this package the `EntityListenerResolver` memory caches instances of resolved listeners. This overrides the current behavior of the Laravel container. For example if a develop defines a listener as a factory (`bind` in Laravel) then it's turned into a singleton via this resolver. This breaks the container definition and forces developers to treat listeners as singletons.

[2017-09-20 22:06] SlyDave opened #278 "[PROPOSAL] Upgrade to doctrine/orm 2.6"
laravel-doctrine/orm 1.4
laravel/framework 5.5

Would be nice to get doctrine\orm 2.6 rather than 2.5, there are some nice quality of life changes (count method on repositories for instance...)

Not much in the way of problems going from 2.5 to 2.6:
https://github.com/doctrine/doctrine2/blob/master/UPGRADE.md

And laravel/framework won't be an issue as it doesn't use doctrine/orm. doctrine/orm 2.6

[2017-10-05 22:17] raivieiraadriano92 opened #281 "Error in php artisan doctrine:schema:validate"
Please prefix your issue with one of the following: [BUG] [PROPOSAL] [QUESTION].

### Package version = 1.4.*, Laravel version = 5.5.*

### Expected behaviour = validation of entities

### Actual behaviour = [Symfony\Component\Debug\Exception\FatalThrowableError]
  Type error: Return value of Doctrine\Common\Annotations\AnnotationRegistry::registerFile() must be an instance of Doctrine\Common\Anno

[2017-10-06 20:05] #281 closed, assigned to nobody

[2017-10-10 11:20] btaens opened #282 "[BUG] factory methods with objects fail due to strict array requirement since #268"
### Package version, Laravel version
laravel-doctrine/orm 1.3.10
laravel/framework 5.4.36

### Expected behaviour
The factory `make()` method should return a new Entity object as it did in 1.3.5 without any problems.

### Actual behaviour
When calling `entity(Entity::class)->make()` or `entity(Entity::class)->create()`, the following exception is thrown:

### Steps to reproduce the behaviour
Due t

[2017-10-10 15:40] dvmedvedev opened #283 "[BUG] The class name expected but table name received"
### Package version, Laravel version
laravel-doctrine/orm : **1.4.2**
laravel/framework : **v5.5.14**

### Expected behaviour
Successful registration

### Actual behaviour
Looks like the following backtrace:
[code]

### Steps to reproduce the behaviour
- Configure Entity like in the documentation
- Configure auth provider
[code]
- Try to register

[2017-10-10 15:56] patrickbrouwers commented on #283
Check where you validate for unique users (unique|users probably), you are validating against a table, instead of the class name.

[2017-10-10 17:51] dvmedvedev commented on #283
Yes, it’s a validation issue. But it’s out of the box code. I saw the article about the validation, so I will check it. But for now it looks like the chain of calls have an issue on the step of entity manager receiving. There is impossible to get the class name in this place.

[2017-10-10 17:58] dvmedvedev commented on #283
@patrickbrouwers You are right. It was not obvious but the article helped. Very sorry of this.

[2017-10-10 21:01] #283 closed, assigned to nobody

[2017-10-10 22:06] guiwoda commented on #266
FactoryBuilder is meant to be used in seeding and testing. Performance issues shouldn't be a concern in neither (testing is arguable, but you shouldn't be creating lots of entities in each case anyway.)

Plus, you can always `make` both entities and call persist manually.
I don't believe this is a feature that's really needed. But if I had to decide on it, I'd go for 3. Make is meant to be a "just

[2017-10-13 16:05] Korri commented on #266
@guiwoda Yes we use it for feature testing.

Some of our tests take up to 2 seconds just inserting entities. I know this is extreme, but we test an `orders` endpoint with pagination, so we end up creating 30 of them, and each order has 3 lines, a customer, a location, a company, a seller, and those have other relationships like product, address etc.. and this ends up doing something close to 400 c

[2017-10-13 18:23] guiwoda commented on #266
@Korri are you using an in-memory database for your end to end tests?

[2017-10-13 19:12] Korri commented on #266
@guiwoda not exactly, we use an actual sqlite database, but everything runs inside a transaction that is rolled back after the test.

In essence gives us the speed of in-memory database and the capacity to not re-build the database from scratch every time.

[2017-10-13 19:13] Korri commented on #266
But what takes `flush()` time is not the actual database according to my profiling, it's just computing the list of entities that need to be saved every time.

[2017-10-16 04:21] sdfiteng opened #285 "DB2 connection problem has been solved"
I wanted to connect to ibm db2 via laravel-doctrine but it has problem after alot of searching, I have found out that in laravel-doctrine configuration when we added below line in config.php/app.php
LaravelDoctrine\ORM\DoctrineServiceProvider::class,
as service provider we have to remove line
Illuminate\Database\DatabaseServiceProvider::class,
with this removing my connection to db2 has worked cor

[2017-10-16 04:22] #285 closed, assigned to nobody

[2017-10-21 13:37] MateuszPrasal opened #287 "[QUESTION] Problem with password reset"
### Package version, Laravel version
Laravel 5.5
laraveldoctrine/orm 1.4
### Expected behaviour
Successful password reset
### Actual behaviour
I got message:
`InvalidArgumentException
Password resetter [users] is not defined.`

`
InvalidArgumentException
…\vendor\laravel\framework\src\Illuminate\Auth\Passwords\PasswordBrokerManager.php67
54
Illuminate\Auth\Passwords\PasswordBrokerManager resolve
…

[2017-10-25 11:41] josenicomaia commented on #287
Hey @Mateo1907,
Could you post your auth.php?
And the class pointed at `auth.providers.users.model`?

[2017-10-25 12:02] josenicomaia commented on #278
I am not the right person to say, but I think that we should wait the v2.6 to be tagged. They still in master.
What do you think @patrickbrouwers ?

[2017-10-25 12:04] patrickbrouwers commented on #278
We will upgrade once 2.6 is stable. Still too early now.

[2017-10-25 14:09] Korri commented on #266
Here is the pull request: #284

[2017-11-03 17:48] garret-gunter commented on #266
Is there a problem with using ```make()``` and then persisting the entity before returning it from the closure?  I feel like this would cause a lot of confusion if someone was expecting no entities to be persisted from calling ```make()```.  It might be better to somehow inform the closure which method was called on the parent factory ( e.g. ```make()``` vs ```create()```).

[2017-11-03 18:18] Korri commented on #266
@garret-gunter I agree with the confusing part, it makes the code a bit confusing, maybe adding a `$persist = false` attribute to make would be cleaner?

One other solution would be to set a  `persistOnMake` flag before calling `make()` from inside the `create()` method.

Both those solution would keep the current behaviour unchanged.

[2017-11-05 09:46] ekeyte opened #292 "[BUG] Console call to php artisan doctrine:schema:create fails because of missing "handle" function"
Using Laravel framework 5.5.19 and `laravel-doctrine/ORM` version 1.3.8.

I am calling `php artisan doctrine:schema:create`, expecting Doctrine to create my schema in my database. Instead it is erroring out with the following error:

[code]

To reproduce:
1. Create a composer project with laravel/framework
2. Composer install Laravel Doctrine.
3. Create a basic entity with Doctrine annotations.
4.

[2017-11-05 09:59] ekeyte commented on #292
Aaaand updating to v1.4.2 solved the issue. Sorry for bothering everyone!

[2017-11-05 09:59] #292 closed, assigned to nobody

[2017-11-11 22:21] juanpscotto opened #293 "Sybase Drivers"
Can use it with sybase database?

[2017-11-12 21:17] garret-gunter commented on #266
I haven't looked into how Laravel factories natively handle the arguments passed to closures in factories.  The current arguments passed to closures in laravel-doctrine are the properties returned from the factory.

Is it possible to add the flag there?  Or allow us to add it in a 'meta data' type of thing?  Otherwise it might be best to bind a variable to each closure (which would might get messy